<!--
* 프로그램명 : 상품 조회 - goodsSearch.html
* 작 성 일 : 2021.05.13
* 작 성 자 : N.J.Kim
* 수 정 자 :
* 버	전 : 1.0
* 개	요 : 상품 조회 팝업
* 이	력 :
-->
<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/page-realgrid-layout}">
<head>
<!-- 팝업 페이지 -->
<script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'order/popup/goodsSearch.js?202104290002'"></script>

<!-- 키워드 그리드 -->
<script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'order/popup/keyWordGrid.provider.js?202104290004'"></script>
<script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'order/popup/keyWordGrid.eventHandler.js?202104290004'"></script>

<!-- 고객주문이력 그리드 -->
<script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'order/popup/orderHistGrid.provider.js?202104290002'"></script>
<script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'order/popup/orderHistGrid.eventHandler.js?202104290002'"></script>

<!-- 찜목록 그리드 -->
<script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'order/popup/wishListGrid.provider.js?202104290002'"></script>
<script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'order/popup/wishListGrid.eventHandler.js?202104290002'"></script>

<!-- 베스트100 그리드 -->
<script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'order/popup/bestGrid.provider.js?202104290002'"></script>
<script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'order/popup/bestGrid.eventHandler.js?202104290002'"></script>

<script type="text/javascript">
	$(document).ready(function() {
		goodsSearch.init();//페이지 초기화
		keyWordGrid.eventhandler.init();//키워드 그리드 초기화
		orderHistGrid.eventhandler.init();//고객주문이력 그리드 초기화
		wishListGrid.eventhandler.init();//찜목록 그리드 초기화
		bestGrid.eventhandler.init();//베스트100 그리드 초기화

		//키워드 활성화
		$("#li-tab1").addClass('active');
		$("#tab-cont1").show();
	});
</script>
    <script src="../js/libs/jquery/jquery-3.4.1.min.js"></script>
    <script src="../js/contents.js"></script>
    <script type="text/javascript" src="../js/libs/jquery/jquery.ztree.all.js?202102260000"></script>
</head>
<body>
	<th:block layout:fragment="page-contents">
		<div class="win-popup page-root">
			<div class="page-fixed ">
				<div class="search-cont full-height">
					<div class="header">
						<h1 class="title">상품 조회</h1>
					</div>

					<div class="tabs-area">
						<ul class="tabs">
							<li id="li-tab1" class="tabs"><a href="javascript:void(0);">키워드</a></li>
							<li id="li-tab2" class="tabs"><a href="javascript:void(0);">고객주문이력</a></li>
							<li id="li-tab3" class="tabs"><a href="javascript:void(0);">찜목록</a></li>
							<li id="li-tab4" class="tabs"><a href="javascript:void(0);">베스트100</a></li>
						</ul>

						<div class="tabs-body">

							<!-- 키워드 Tab -->
							<div class="tab-cont" id="tab-cont1">
								<form name="keyWordSearchForm" id="keyWordSearchForm">

								<!-- search -->
								<div class="search">
									<table class="search-table">
										<colgroup>
											<col width="120">
											<col>
											<col width="120">
											<col>
										</colgroup>
										<tbody>
											<tr>
												<!-- 표준상품분류 -->
												<td class="label">표준상품분류</td>
												<td>
													<select class="form-control" name="stdLrgCtgNo">
														<option value="">:: 전체 ::</option>
														<option th:each="item : ${prStdCtgList}" th:value="${item?.stdCtgNo}" th:utext="${item?.stdCtgNm}"></option>
													</select>
												</td>
												<!-- 판매상태 -->
												<td class="label">판매상태</td>
												<td>
													<select class="form-control" name="saleStatCd">
														<option value="">:: 전체 ::</option>
														<option th:each="code : ${codeList.PR005}" th:value="${code?.cd}" th:utext="${code?.cdNm}"></option>
													</select>
												</td>
											</tr>
											<tr>
												<!-- 상품번호 -->
												<td class="label">상품번호</td>
												<td><input type="text" name="goodsNo" value="" class="input"></td>
												<!-- 협력사번호/명 -->
												<td class="label">협력사번호/명</td>
												<td>
													<div class="input-group">
														<input type="text" id="entrNo" name="entrNo" class="input disabled w20" readonly>
														<input type="text" id="entrNm" name="entrNm" class="input disabled" readonly>
														<a href="javascript:;" class="button small" id="btn_call_entr_popup"><i class="icon-sarch"></i></a>
														<a href="javascript:;" class="button small" id="btn_reset_entr_popup"><i class="icon-clear"></i></a>
													</div>
												</td>
											</tr>
											<tr>
												<!-- 상품명 -->
												<td class="label">상품명</td>
												<td><input type="text" name="goodsNm" value="" class="input"></td>
												<!-- 전시카테고리 -->
												<td class="label">전시카테고리</td>
												<td>
													<div class="input-group">
														<input type="hidden" id="dispCtgNo" name="dispCtgNo">
														<input type="text" id="dispCtgNm" class="input disabled" readonly>
														<a href="javascript:;" class="button small" id="btn_dispPopup_call"><i class="icon-sarch"></i></a>
														<a href="javascript:;" class="button small" id="btn_dispPopup_reset"><i class="icon-clear"></i></a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //search -->

								<!-- search-btn -->
								<div class="button-group search-btn">
									<a href="#" class="button white" id="btnKeyWordSearchInit"><span class="text">초기화</span></a>
									<a href="#" class="button dark" id="btnKeyWordSearch"><span class="text">조회</span></a>
								</div>
								<!-- //search-btn -->

								</form>

									<div class="grid">
										<div class="grid-head">
											<div class="title-area">
												<h2 class="title">상품 조회 결과</h2>
											</div>
											<!-- //title-area -->

											<div class="option-area">
												<div class="page-option" grid-id="keyWordGrid" />
											</div>
											<!-- //option-area -->
										</div>
										<!-- //grid-head -->

										<div class="grid-body with-head" id="keyWordGrid" realgrid></div>
										<!-- //grid-body -->
									</div>
								<!-- //grid -->
							</div>
							<!-- //키워드 Tab -->
						</div>

						<!-- 고객주문이력 Tab -->
						<div class="tab-cont" id="tab-cont2">
							<!-- search -->
							<form name="orderHistSearchForm" id="orderHistSearchForm">
								<input type="hidden" name="" value="">

								<!-- 조회 조건 -->
								<div class="search">
									<table class="search-table">
										<colgroup>
											<col width="120">
											<col>
										</colgroup>
										<tbody>
											<!-- 주문일자 -->
											<tr>
												<td class="label">주문일자</td>
												<td>
													<div class="input-group">
														<div class="picker-group">
															<input type="hidden" id="mbrNo" name="mbrNo" th:value="${mbrNo}"/><!-- 회원ID -->
															<input type="text" class="form-control disabled" id="ordFnshStartDtm" name="ordFnshStartDtm" readonly>
															<span class="input-group-addon">~</span>
															<input type="text" class="form-control disabled" id="ordFnshEndDtm" name="ordFnshEndDtm" readonly>
															<span class="input-group-addon" id="btn_call_calender"><i class="icon-calendar"></i></span>
														</div>
														<label><input class="checkbox-inline" type="checkbox" name="">기간전체</label>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

							</form>
							<!-- //search -->

							<!-- search-btn -->
							<div class="button-group search-btn">
								<a href="#" class="button white" id="btnOrderHistSearchInit"><span class="text">초기화</span></a>
								<a href="#" class="button dark" id="btnOrderHistSearch"><span class="text">조회</span></a>
							</div>
							<!-- //search-btn -->


							<div class="grid">
								<div class="grid-head">
									<div class="title-area">
										<h2 class="title">고객주문이력</h2>
									</div>
									<!-- //title-area -->

									<div class="option-area">
										<div class="page-option" grid-id="orderHistGrid" />
									</div>
									<!-- //option-area -->
								</div>
								<!-- //grid-head -->

								<div class="grid-body with-head" id="orderHistGrid" realgrid></div>
								<!-- //grid-body --></div>
							</div>
							<!-- //grid -->
						</div>

						<!-- //고객주문이력 Tab -->

						<!-- 찜목록 Tab -->
						<div class="tab-cont" id="tab-cont3">
							<form name="wishListSearchForm" id="wishListSearchForm">
								<input type="hidden" id="mbrNo" name="mbrNo" th:value="${mbrNo}"/><!-- 회원ID -->
							<!-- search-btn
							<div class="button-group search-btn">
								<a href="#" class="button white" id="btnWishListSearchInit"><span class="text">초기화</span></a>
								<a href="#" class="button dark" id="btnWishListSearch"><span class="text">조회</span></a>
							</div> -->
							<!-- //search-btn -->
							</form>

							<div class="grid">
								<div class="grid-head">
									<div class="title-area">
										<h2 class="title">찜목록</h2>
									</div>
									<!-- //title-area -->

									<div class="option-area">
										<div class="page-option" grid-id="wishListGrid" />
									</div>
									<!-- //option-area -->
								</div>
								<!-- //grid-head -->

								<div class="grid-body with-head" id="wishListGrid" realgrid></div>
								<!-- //grid-body --></div>
							</div>
							<!-- //grid -->
						</div>
						<!-- //찜목록 Tab -->

						<!-- 베스트100 Tab -->
						<div class="tab-cont" id="tab-cont4">
							<form name="bestSearchForm" id="bestSearchForm">
							<!-- search -->
							<div class="search">
								<table class="search-table">
									<colgroup>
										<col width="120">
										<col>
									</colgroup>
									<tbody>
										<tr>
											<td class="label">전시카테고리</td>
											<td>
												<div class="input-group">
													<input type="text" id="" class="input disabled" readonly>
													<a href="javascript:;" class="button small" onclick="">
														<i class="icon-sarch"></i>
													</a>
													<a href="javascript:;" class="button small"><i class="icon-clear"></i></a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- //search -->

							<!-- search-btn -->
							<div class="button-group search-btn">
								<a href="#" class="button white" id="btnBestSearchInit"><span class="text">초기화</span></a>
								<a href="#" class="button dark" id="btnBestSearch"><span class="text">조회</span></a>
							</div>
							<!-- //search-btn -->
							</form>

							<div class="grid">
								<div class="grid-head">
									<div class="title-area">
										<h2 class="title">베스트100</h2>
									</div>
									<!-- //title-area -->

									<div class="option-area">
										<div class="page-option" grid-id="bestGrid" />
									</div>
									<!-- //option-area -->
								</div>
								<!-- //grid-head -->

								<div class="grid-body with-head" id="bestGrid" realgrid></div>
								<!-- //grid-body --></div>
							</div>
							<!-- //grid -->
						</div>
						<!-- //베스트100 -->
					</div>
				</div>

				<!--List Button Area-->
				<th:block layout:fragment="popup-List-button-area">
				    <th:block layout:insert="~{fragments/popup/popup-btn :: popup-List-btn }"/><!-- 닫기 -->
				</th:block>
			</div>
			<!-- //page-fixed -->
		</div>
	</th:block>
</body>
</html>