<!--
* 프로그램명 : 배송조회
* 작 성 일 : 2021.06.09
* 작 성 자 : 권다솜
* 수 정 자 :
* 버    전 : 1.0
* 개    요 : 배송관리 > 배송관리 > 배송조회
* 이    력 :
-->
<html lang="ko-KR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/page-realgrid-layout}">

<head>
    <title>sub title</title>
</head>
<body>
<th:block layout:fragment="page-title-area">
    <div class="page-title">
        <div class="left">
            <h1><th:block th:text="${#messages.msg('deliveryMgmt.deliveryList.title')}"/></h1>
        </div>
    </div>
</th:block>
<th:block layout:fragment="page-contents">
    <div class="page-fixed with-title">
        <div class="search-cont">
            <!-- 조회테이블 -->
            <div class="search">
                <form name="deliveryGridForm" id="deliveryGridForm">
                <table class="search-table">
                    <colgroup>
                        <col width="110">
                        <col>
                        <col width="110">
                        <col>
                        <col width="110">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="label"><strong th:text="${#messages.msg('deliveryMgmt.deliveryList.label.date')}"></strong></td>  <!-- 기간 -->
                        <td>
                            <div class="input-group w100">
                                <select class="form-control w30" id="searchDateType" name="searchDateType">
                                    <option th:value="1" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.dateType1')}"></option>
                                    <option th:value="2" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.dateType2')}"></option>
                                    <option th:value="3" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.dateType3')}"></option>
                                </select>
                                <div class="picker-group" data-lopicker="basic">
                                    <input type="text" class="input disabled" name="startDate" id="startDate" disabled="disabled">
                                    <span class="input-group-addon">~</span>
                                    <input type="text" class="input disabled" name="endDate" id="endDate" disabled="disabled">
                                    <span class="input-group-addon"><i class="icon-calendar" id="calendarButton"></i></span>
                                </div>
                            </div>
                        </td>
                        <td class="label" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.deliPrgsStatCd')}" /> <!-- 배송진행상태 -->
                        <td>
                            <select class="form-control w40" id="deliPrgsStatCd" name="deliPrgsStatCd">
                                <option value="" th:text="${#messages.msg('baseInfoMgmt.label.full')}"></option>
                                <option th:each="list : ${codeList.LO003}" th:value="${list.cd}" th:text="${list.cdNm}"></option>
                            </select>
                        </td>
                        <td class="label" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.deliTypCd')}" /> <!-- 배송유형 -->
                        <td>
                            <select class="form-control w40" id="deliTypCd" name="deliTypCd">
                                <option value="" th:text="${#messages.msg('baseInfoMgmt.label.full')}"></option>
                                <option th:each="list : ${codeList.LO002}" th:value="${list.cd}" th:text="${list.cdNm}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.deliInfo')}"></td> <!-- 배송정보 -->
                        <td>
                            <div class="input-group w100">
                                <select class="form-control w30" id="searchDeliInfoType" name="searchDeliInfoType">
                                    <option th:value="1" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.deliInfoType1')}"></option>
                                    <option th:value="2" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.deliInfoType2')}"></option>
                                    <option th:value="3" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.deliInfoType3')}"></option>
                                </select>
                                <input class="input w40" type="text" name="ordNo" id="ordNo" maxlength="15" onKeyup="number(this)"/>
                            </div>
                        </td>
                        <td class="label" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.deliGoodsGbCd')}" /> <!-- 배송상품구분 -->
                        <td>
                            <select class="form-control w40" id="deliGoodsGbCd" name="deliGoodsGbCd">
                                <option value="" th:text="${#messages.msg('baseInfoMgmt.label.full')}"></option>
                                <option th:each="list : ${codeList.PR010}" th:value="${list.cd}" th:text="${list.cdNm}"></option>
                            </select>
                        </td>
                        <td class="label" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.deliProcTypCd')}" /> <!-- 배송처리유형 -->
                        <td>
                            <select class="form-control w40" id="deliProcTypCd" name="deliProcTypCd">
                                <option value="" th:text="${#messages.msg('baseInfoMgmt.label.full')}"></option>
                                <option th:each="list : ${codeList.PR008}" th:value="${list.cd}" th:text="${list.cdNm}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.ordManNm')}"></td> <!-- 주문자정보 -->
                        <td>
                            <div class="input-group w100">
                                <select class="form-control w30" id="searchOrdManType" name="searchOrdManType">
                                    <option th:value="1" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.ordManNmType1')}"></option>
                                    <option th:value="2" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.ordManNmType2')}"></option>
                                </select>
                                <input class="input w60" type="text" name="ordManNm" id="ordManNm" maxlength="100"/>
                            </div>
                        </td>
                        <td class="label" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.entrNoNm')}" /> <!-- 협력사번호/명 -->
                        <td>
                            <div class="input-group w100">
                                <input class="input disabled w30" type="text" id="entrNo" name="entrNo" th:readonly="true"/>
                                <input class="input disabled w50" type="text" id="entrNm" th:readonly="true"/>
                                <a href="#" class="button small" id="btn_entrPopup_call"><i class="icon-sarch"></i></a>
                                <a href="#" class="button small" id="btn_entrPopup_reset"><i class="icon-clear"></i></a>
                            </div>
                        </td>
                        <td class="label" th:text="${#messages.msg('deliveryMgmt.deliveryList.label.deliWayCd')}" /> <!-- 배송수단 -->
                        <td>
                            <select class="form-control w40" id="deliWayCd" name="deliWayCd">
                                <option value="" th:text="${#messages.msg('baseInfoMgmt.label.full')}"></option>
                                <option th:each="list : ${codeList.PR009}" th:value="${list.cd}" th:text="${list.cdNm}"></option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
            <!-- //조회테이블 -->
            <!-- 검색버튼 -->
            <div class="button-group search-btn">
                <a href="#" class="btn_gblue button white" id="btn_init">
                    <span class="text" th:text="${#messages.msg('baseInfoMgmt.label.initialization')}" />
                </a>
                <a href="#" class="btn_blue button dark" id="btn_list">
                    <span class="text" th:text="${#messages.msg('baseInfoMgmt.label.list')}" />
                </a>
            </div>
            <!-- //검색버튼 -->
            <!-- 리얼그리드 -->
            <div class="grid-cont">
                <div class="grid" style="overflow: hidden;">
                    <div class="grid-head">
                        <div class="title-area">
                            <h2 class="title" th:text="${#messages.msg('deliveryMgmt.deliveryList.grid.title')}" />
                        </div>
                        <div class="option-area">
                            <div class="edit-option">
                                <div class="button-group">
                                    <a href="#" class="button inside" id="btn_grid_excel">
                                        <span class="text" th:text="${#messages.msg('deliveryMgmt.deliveryList.grid.btn.excel')}" />
                                    </a>
                                </div>
                            </div>
                            <div class="page-option" grid-id="deliveryGrid" />
                        </div>
                    </div>
                    <div class="grid-body with-head">
                        <div id="deliveryGrid" realgrid></div>
                    </div>
                </div>
            </div>
            <!-- //리얼그리드 -->
        </div>
    </div>
</th:block>
<th:block layout:fragment="add-script">

    <script th:inline="javascript">
            var msg = x2coMessage.getMessage( {
                sndWaitCausSmsMessage : 'deliveryMgmt.deliveryList.msg.sndWaitCausSmsMessage'
                , deleteQuestionMessage: 'adminCommon.alert.delete'
                , messageNotCheckedData : 'adminCommon.grid.alert.no.selected.row'
                , noSearchedDataMsg : 'adminCommon.grid.alert.no.searched.data'
            });
    </script>

    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'delivery/deliveryGrid.eventHandler.js?202106170001'" ></script>
    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'delivery/deliveryGrid.provider.js?202106170002'" ></script>

    <script type="text/javascript">
        $(document).ready(function() {
            deliveryGrid.eventhandler.init();
        });
    </script>
</th:block>

</body>
</html>