<!--
* 프로그램명 : FAQ관리
* 작 성 일 : 2021.06.22
* 작 성 자 : 권다솜
* 수 정 자 :
* 버    전 : 1.0
* 개    요 : 시스템관리 > 공지사항관리 > FAQ관리
* 이    력 :
-->
<html lang="ko-KR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/page-realgrid-layout}">

<head>
    <title><th:block th:text="${#messages.msg('faqMgmt.title')}"/></title>
</head>
<body>
<th:block layout:fragment="page-title-area">
    <div class="page-title">
        <div class="left">
            <h1><th:block th:text="${#messages.msg('faqMgmt.title')}"/></h1>
        </div>
    </div>
</th:block>
<th:block layout:fragment="page-contents">
    <div class="page-fixed with-title">
        <div class="search-cont">
            <!-- 조회테이블 -->
            <div class="search">
                <form name="faqGridForm" id="faqGridForm">
                <table class="search-table">
                    <colgroup>
                        <col width="120">
                        <col>
                        <col width="120">
                        <col>
                        <col width="120">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="label" th:text="${#messages.msg('faqMgmt.label.category')}" />
                        <td>
                            <div class="input-group w100">
                                <select class="form-control w40" id="faqLgrpCd" name="faqLgrpCd">
                                    <option value="" th:text="${#messages.msg('adminCommon.entirety')}"></option>
                                    <option th:each="list : ${codeList.CM014}" th:value="${list.cd}" th:text="${list.cdNm}"></option>
                                </select>
                                <select class="form-control w40" id="faqMgrpCd" name="faqMgrpCd">
                                    <option value="" th:text="${#messages.msg('adminCommon.entirety')}"></option>
                                </select>
                            </div>
                        </td>
                        <td class="label" th:text="${#messages.msg('faqMgmt.label.title')}" />
                        <td>
                            <input class="input w100" type="text" name="title" id="title"/>
                        </td>
                        <td class="label" th:text="${#messages.msg('faqMgmt.label.bbYn')}"></td>
                        <td>
                            <select class="form-control w30" id="bbYn" name="bbYn">
                                <option value="" th:text="${#messages.msg('adminCommon.entirety')}"></option>
                                <option value="Y" th:text="${#messages.msg('faqMgmt.label.bbYn_Y')}"></option>
                                <option value="N" th:text="${#messages.msg('faqMgmt.label.bbYn_N')}"></option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
            <!-- //조회테이블 -->
            <!-- 검색버튼 -->
            <div class="button-group search-btn">
                <a href="#" class="btn_gblue button white" id="btn_init">
                    <span class="text" th:text="${#messages.msg('adminCommon.button.init')}" />
                </a>
                <a href="#" class="btn_blue button dark" id="btn_list">
                    <span class="text" th:text="${#messages.msg('adminCommon.button.search')}" />
                </a>
            </div>
            <!-- //검색버튼 -->
            <!-- 리얼그리드 -->
            <div class="grid-cont">
                <div class="grid" style="overflow: hidden;">
                    <div class="grid-head">
                        <div class="title-area">
                            <h2 class="title" th:text="${#messages.msg('faqMgmt.grid.title')}" />
                        </div>
                        <div class="option-area">
                            <div class="edit-option">
                                <div class="button-group">
                                    <a href="#" class="button inside" id="btn_grid_insert">
                                        <span class="text" th:text="${#messages.msg('faqMgmt.grid.btn.faqInsert')}" />
                                    </a>
                                    <a href="#" class="button inside" id="btn_grid_reset">
                                        <span class="text" th:text="${#messages.msg('adminCommon.grid.button.cancel')}" />
                                    </a>
                                    <a href="#" class="button inside" id="btn_grid_save">
                                        <span class="text" th:text="${#messages.msg('adminCommon.button.save')}" />
                                    </a>
                                </div>
                            </div>
                            <div class="page-option" grid-id="faqGrid" />
                        </div>
                    </div>
                    <div class="grid-body with-head">
                        <div id="faqGrid" realgrid></div>
                    </div>
                </div>
            </div>
            <!-- //리얼그리드 -->
        </div>
    </div>
</th:block>
<th:block layout:fragment="add-script">

    <script th:inline="javascript">
            var codeList = [[${codeList.CM015}]];
            var msg = x2coMessage.getMessage( {
                  gridNoSelected: 'faqMgmt.message.gridNoSelected'
                , gridInit: 'faqMgmt.message.gridInit'
                , noSearchedDataMsg : 'adminCommon.grid.alert.no.searched.data'
            });
    </script>

    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'system/faqGrid.eventHandler.js?202108191430'" ></script>
    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'system/faqGrid.provider.js?202108191430'" ></script>

    <script type="text/javascript">
        $(document).ready(function() {
            faqGrid.eventhandler.init();
        });
    </script>
</th:block>

</body>
</html>