<!--
* 프로그램명 : 개별 권한 관리
* 작 성 일 : 2021.11.30
* 작 성 자 : 김승일
* 수 정 자 :
* 버    전 : 1.0
* 개    요 : 개별 권한 관리를 하는 UI
* 이    력 :
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/page-realgrid-layout}">

<head>
<title>sub title</title>
</head>
<body>
	<th:block layout:fragment="page-title-area">
		<div class="page-title">
			<div class="left">
				<h1><th:block th:text="${#messages.msg('individualRightMgmt.label.idvdrt.management')}" /></h1>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="page-contents">
		<div class="page-fixed with-title">
			<div class="search-cont">
				<!-- 조회테이블 -->
				<div class="search">
					<div class="search-body">
						<form name="individualRightGridForm" id="individualRightGridForm">
							<table class="search-table">
								<colgroup>
									<col width="120">
									<col>
									<col width="120">
									<col>
								</colgroup>
								<tbody>
									<tr>
										<td class="label" th:text="${#messages.msg('individualRightMgmt.label.idvdrt.userIdNm')}"></td>
										<td>
											 <div class="input-group">
		                                        <input type="text" maxlength="10" class="input" id="userIdNm" name="userIdNm" disabled="disabled">
		                                        <input type="hidden" id="userId" name="userId" value="">
		                                        <a href="#" class="button small" id="btnUserSearch"><i class="icon-sarch"></i></a>
		                                        <a href="#" class="button small" id="btnUserReset"><i class="icon-clear"></i></a>
		                                    </div>
										</td>
										<td class="label" th:text="${#messages.msg('individualRightMgmt.label.idvdrt.rightGrpName')}"></td>
										<td><input class="input w100" type="text" maxlength="15" name="rtGrpNm" id="rtGrpNm" /></td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
				</div>
				<!-- //조회테이블 -->
				<!-- 검색버튼 -->
				<div class="button-group search-btn">
					<a href="#" class="btn_gblue button white" id="btn_init">
						<span class="text" th:text="${#messages.msg('adminCommon.button.init')}" />
					</a>
					<a href="#" class="btn_blue button dark" id="btn_search">
						<span class="text" th:text="${#messages.msg('adminCommon.button.search')}" />
					</a>
				</div>
				<!-- //검색버튼 -->

				<!-- 리얼그리드 -->
				<div class="grid-cont">
					<div class="grid" style="overflow: hidden;">
						<div class="grid_box grid-head">
							<div class="title-area">
								<h2 class="title"
									th:text="${#messages.msg('individualRightMgmt.label.idvdrt.search')}" />
								<div class="button-group">
                                    <a href="#" class="button small btn_none" id="btn_excel_down1"><i class="icon-ex"></i></a>
                                </div>
							</div>
							<div class="option-area">
								<div class="edit-option">
									<div class="button-group">
										<a href="#" class="button inside" id="btn_grid_add">
											<span class="text" th:text="${#messages.msg('adminCommon.grid.button.add.row')}" />
										</a>
										<a href="#" class="button inside" id="btn_grid_remove">
											<span class="text" th:text="${#messages.msg('adminCommon.grid.button.cancel')}" />
										</a>
										<a href="#" class="button inside" id="btn_grid_save">
											<span class="text" th:text="${#messages.msg('adminCommon.grid.button.save')}" />
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="grid-body">
							<div class="rg-root rg-grid" id="individualRightGrid" realgrid></div>
						</div>
					</div>
				</div>
				<!-- //리얼그리드 -->

				<!-- 리얼그리드 -->
				<div class="data-cont col-40 mt20">
							<div class="data-cont">
								<div class="title-area">
									<h2 class="title" th:text="${#messages.msg('rightGroupMgmt.label.menuRight')}" />
									<div class="button-group">
										<a href="#" class="button outside" id="btn_menu_save">
											<span class="text" th:text="${#messages.msg('adminCommon.grid.button.save')}"/>
										</a>
									</div>
								</div>
                				<div class="data mb0">
				                     <div class="data-body">
				                        <ul id="tree" class="ztree vh13"></ul>
				                    </div>
								</div>
							</div>


					<div class="grid" style="overflow: hidden;">
						<div class="grid_box grid-head">
							<form name="individualButtonRightGridForm" id="individualButtonRightGridForm" hidden="true">
								<input class="input" type="text" name="rtGrpNo" id="stRtGrpBtnGrid_rtGrpNo" value=""/>
								<input class="input" type="text" name="sysGbCd" id="stRtGrpBtnGrid_sysGbCd" value=""/>
								<input class="input" type="text" name="rtTgtSeq" id="stRtGrpBtnGrid_rtTgtSeq" value=""/>
							</form>
							<div class="title-area">
								<h2 class="title"
									th:text="${#messages.msg('rightGroupMgmt.label.rtgrp.rt.grp.button')}" />
								<div class="button-group">
									<a href="javascript:;" class="button small btn_none mb5" id="btn_excel_down2"><i class="icon-ex"></i></a>
								</div>
							</div>
							<div class="option-area">
								<div class="edit-option">
									<div class="button-group">
										<a href="#" class="button inside" id="btn_grid_btn_use_yn_all">
											<span class="text" th:text="${#messages.msg('rightGroupMgmt.label.data.use.yn.all')}" />
										</a>
										<a href="#" class="button inside" id="btn_grid_btn_reset">
											<span class="text" th:text="${#messages.msg('adminCommon.grid.button.cancel')}" />
										</a>
										<a href="#" class="button inside" id="btn_grid_btn_save">
											<span class="text" th:text="${#messages.msg('adminCommon.grid.button.save')}" />
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="grid-body">
							<div class="rg-root rg-grid vh14" id="individualButtonRightGrid" realgrid></div>
						</div>
					</div>
				</div>
				<!-- //리얼그리드 -->
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="add-script">
		<script th:inline="javascript">
			// 그리드 내 selectBox 셋팅 (권한 그룹)
			var rtGrpCdList = [[${codeList.UR005}]];
			var rtGrpCd = [];
			var rtGrpValues = [];
			
			for(const job of rtGrpCdList) {
				rtGrpCd.push(job.cd);
				rtGrpValues.push(job.cdNm);
			}
			rtGrpCd.unshift('');
			rtGrpValues.unshift('선택');
			
			var rtTgtTypList = [[${codeList.UR010}]];
			var rtTgtTypCode = [];
			var rtTgtTypValues = [];
			if(rtTgtTypList != null){
				for(const item of rtTgtTypList){
					rtTgtTypCode.push(item.cd);
					rtTgtTypValues.push(item.cdNm);
				}
			}
			rtTgtTypCode.unshift('');
			rtTgtTypValues.unshift('선택');
			
			var col = x2coMessage.getMessage({
				userIdNm	: "individualRightMgmt.label.idvdrt.userIdNm",
				rightGrp	: "individualRightMgmt.grid.field.rightGrp",
				registReason : "individualRightMgmt.grid.field.registReason",
				aplyStrDt : "individualRightMgmt.grid.field.aplyStrDt",
				aplyEndDt : "individualRightMgmt.grid.field.aplyEndDt",
				attachFile	: "individualRightMgmt.grid.field.attachFile",
				modifier	: "adminCommon.label.sys.mod.id",
				modifyDate	: "adminCommon.label.sys.mod.date",
				useYn		: "individualRightMgmt.grid.field.useYn",
				rtTgtNm	: "individualRightMgmt.grid.field.buttonNm",
				rtTgtTypCd	: "individualRightMgmt.grid.field.rightType",
				useYnCheckAll : "individualRightMgmt.grid.button.useYnCheckAll",
				
				noCheckedIndivRightMsg : "individualRightMgmt.grid.alert.msg.noCheckedIndividualRightForRemove",
				noCheckedIndividualButtonRight : "individualRightMgmt.grid.alert.msg.noCheckedIndividualButtonRight",
				gridEditing : "individualRightMgmt.grid.alert.msg.gridEditing",
				aplyStrEndDtCheck : "rightGroupMgmt.message.rttgt.aply.str.end.dt",
				checkItem : "individualRightMgmt.grid.field.checkItem"
			});
		</script>

		<script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'system/individualRightGrid.provider.js?2021112900002'"></script>
		<script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'system/individualRightGrid.eventHandler.js?2021112900002'"></script>

		<script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'system/individualMenuListGrid.eventHandler.js?202104290000'" ></script>

		<script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'system/individualButtonRightGrid.provider.js?2021112900001'"></script>
		<script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'system/individualButtonRightGrid.eventHandler.js?2021112900001'"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				individualRightGrid.eventhandler.init();
				individualMenuListGrid.eventHandler.init();
				individualButtonRightGrid.eventhandler.init();
			});
		</script>
	</th:block>

</body>
</html>