<!--
* 프로그램명 : 메뉴 관리
* 작 성 일 : 2021.03.05
* 작 성 자 : 박혜진
* 수 정 자 :
* 버    전 : 1.0
* 개    요 : 메뉴 관리를 하는 UI
* 이    력 :
-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/page-realgrid-layout}">
<body>
<th:block layout:fragment="page-title-area">
    <div class="page-title">
        <div class="left">
            <h1><th:block th:text="${#messages.msg('menuMgmt.code.label.title.menu.mgmt')}"/></h1>
        </div>
    </div>
</th:block>
<th:block layout:fragment="page-contents">
    <div class="page-fixed with-title">
        <div class="search-cont full-height">
            <div class="data-cont col-30 full-height">
                <div class="data full-height">
                    <div class="data-head">
                        <div class="left">
                            <span class="title" th:text="${#messages.msg('menuMgmt.code.label.menu.treeTitle')}"></span>
                        </div>
                        <div class="right">
                            <select class="form-control" id="sysGbCdOpt" name="sysGbCdOpt">
                                <option th:each="list : ${codeList.UR005}" th:value="${list.cd}" th:utext="${list.cdNm}" th:data-uprval="|${list.cd}00000|"></option>
                            </select>
                        </div>
                    </div>
                    <!-- //data-head -->

                    <div class="data-body">
                        <ul id="tree" class="ztree"></ul>
                    </div>
                </div>
                <!-- //data -->

                <div class="data-cont">
                    <div class="data full-height">
                        <div class="data-head">
                            <div class="left"><span class="title" th:text="${#messages.msg('menuMgmt.code.label.menu.dtl.info')}"></span>
                                <div class="button-group">
                                    <a href="#" class="button inside" id="btn_menu_top" name="btn_menu_top"><span class="text" th:text="${#messages.msg('menuMgmt.code.label.lg.menu')}"></span></a>
                                    <a href="#" class="button inside" id="btn_menu_info_save" name="btn_menu_info_save"><span class="text" th:text="${#messages.msg('adminCommon.button.save')}"></span></a>
                                </div>
                            </div>
                        </div>
                        <!-- //data-head -->
                        <input type="hidden" id="sysGbCd" name="sysGbCd">
                        <div class="data-body">
                            <form name="menuGridForm" id="menuGridForm">
                                <table class="data-table">
                                    <colgroup>
                                        <col width="120px">
                                        <col>
                                        <col width="120px">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td class="label"><strong th:text="${#messages.msg('menuMgmt.code.label.rt.tgt.nm')}"></strong></td>
                                        <td>
                                            <input type="text" name="rtTgtSeq" id="rtTgtSeq" value="" class="input disabled w20" readonly>
                                            <input type="text" name="rtTgtNm" maxlength="200" id="rtTgtNm" value="" class="input">
                                        </td>
                                        <td class="label"><strong th:text="${#messages.msg('menuMgmt.code.label.upr.rt.tgt.nm')}"></strong></td>
                                        <td>
                                            <input type="text" name="uprRtTgtSeq" id="uprRtTgtSeq" value="" class="input disabled w20" readonly >
                                            <input type="text" name="uprRtTgtNm" id="uprRtTgtNm" value="" class="input disabled" readonly >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label" th:text="${#messages.msg('menuMgmt.code.label.call.url')}"></td>
                                        <td>
                                            <input type="text" maxlength="2000" name="callUrl" id="callUrl" value="" class="input w100">
                                        </td>
                                        <td class="label"><strong th:text="${#messages.msg('menuMgmt.code.label.rt.tgt.typ.cd')}"></strong></td>
                                        <td>
                                            <select class="form-control" id="rtTgtTypCd" name="rtTgtTypCd">
                                                <option th:each="list : ${codeList.UR010}" th:value="${list.cd}" th:utext="${list.cdNm}"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label"><strong th:text="${#messages.msg('adminCommon.use.yn')}"></strong></td>
                                        <td>
                                            <div class="input-group">
                                                <label class="radio-inline">
                                                    <input type="radio" name="useYn" th:value="Y" th:id="useYn_Y" checked="checked">
                                                    <span th:text="${#messages.msg('adminCommon.use')}"></span>
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="useYn" th:value="N" th:id="useYn_N">
                                                    <span th:text="${#messages.msg('adminCommon.disuse')}"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="label"><strong th:text="${#messages.msg('menuMgmt.code.label.sort.seq')}"></strong><td>
                                            <input type="text" maxlength="5" name="sortSeq" id="sortSeq" value="" class="input w20" onKeyup="number(this)">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label"><strong th:text="${#messages.msg('menuMgmt.code.label.leaf.menu.yn')}"></strong></td>
                                        <td>
                                            <div class="input-group">
                                                <label class="radio-inline">
                                                    <input type="radio" name="leafMenuYn" th:value="Y" th:id="leafMenuYn_Y">
                                                    <span th:text="${#messages.msg('adminCommon.use')}"></span>
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="leafMenuYn" th:value="N" th:id="leafMenuYn_N" checked="checked">
                                                    <span th:text="${#messages.msg('adminCommon.disuse')}"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="label"><strong th:text="${#messages.msg('menuMgmt.code.label.cust.info.incl.yn')}"></strong></td>
                                        <td>
                                            <div class="input-group">
                                                <label class="radio-inline">
                                                    <input type="radio" name="custInfoInclYn" th:value="Y" th:id="custInfoInclYn_Y">
                                                    <span th:text="${#messages.msg('adminCommon.use')}"></span>
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="custInfoInclYn" th:value="N" th:id="custInfoInclYn_N" checked="checked">
                                                    <span th:text="${#messages.msg('adminCommon.disuse')}"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label"><strong th:text="${#messages.msg('menuMgmt.code.label.popup.yn')}"></strong></td>
                                        <td>
                                            <div class="input-group">
                                                <label class="radio-inline">
                                                    <input type="radio" name="popupYn" th:value="Y" th:id="popupYn_Y">
                                                    <span th:text="${#messages.msg('adminCommon.use')}"></span>
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="popupYn" th:value="N" th:id="popupYn_N" checked="checked">
                                                    <span th:text="${#messages.msg('adminCommon.disuse')}"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="label"><strong th:text="${#messages.msg('menuMgmt.code.label.help.yn')}"></strong></td>
                                        <td >
                                            <div class="input-group">
                                                <label class="radio-inline">
                                                    <input type="radio" name="helpYn" th:value="Y" th:id="helpYn_Y">
                                                    <span th:text="${#messages.msg('adminCommon.use')}"></span>
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="helpYn" th:value="N" th:id="helpYn_N" checked="checked">
                                                    <span th:text="${#messages.msg('adminCommon.disuse')}"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label" th:text="${#messages.msg('menuMgmt.code.label.mod.id')}"></td>
                                        <td class="ls0"><sapn class="text" id="sysModId"></sapn></td>
                                        <td class="label" th:text="${#messages.msg('menuMgmt.code.label.mod.dtm')}"></td>
                                        <td class="ls0"><sapn class="text" id="sysModDtm"></sapn></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <!-- //data-body -->
                    </div>
                    <!-- //data -->

                    <!--layer Popop-->
                    <div class="layer-popup fix-center" id="layerPop-userHelp">
                        <div class="scroll-wrap">
                            <div class="win-popup account white">
                                <div class="login-wrap editor2">
                                    <div class="box">
                                        <h1 th:text="${#messages.msg('menuMgmt.code.label.user.help')}"></h1>
                                        <button class="btn-close">×</button>
                                        <div class="cont bo_r">
                                            <textarea class="textarea" name="userHelpCont" id="userHelpCont"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <!-- button-group -->
                                <div class="button-group" style="margin-top: 20px;">
                                    <a href="javascript:;" class="button white"><span class="text" id="userhelp-cancel">취소</span></a>
                                    <a href="javascript:;" class="button"><span class="text" id="userhelp-ok">확인</span></a>
                                </div>
                                <!-- //button-group -->
                            </div>
                        </div>
                    </div>
                    <!--layer Popop-->

                    <div class="data-cont full-height">
                        <div class="grid full-height">
                            <div class="grid-head">
                                <div class="title-area">
                                    <h2 class="title" th:text="${#messages.msg('menuMgmt.code.label.low.menu.list')}"></h2>
                                </div>
                                <!-- //title-area -->

                                <div class="option-area">
                                    <div class="edit-option">
                                        <div class="button-group">
                                            <a href="#" class="button inside" id="btn_grid_add">
                                                <span class="text" th:text="${#messages.msg('adminCommon.grid.button.add.row')}" />
                                            </a>
                                            <a href="#" class="button inside" id="btn_grid_remove">
                                                <span class="text" th:text="${#messages.msg('adminCommon.grid.button.delete.row')}" />
                                            </a>
                                            <a href="#" class="button inside" id="btn_grid_reset">
                                                <span class="text" th:text="${#messages.msg('adminCommon.grid.button.cancel')}" />
                                            </a>
                                            <a href="#" class="button inside" id="btn_grid_save">
                                                <span class="text"th:text="${#messages.msg('adminCommon.button.save')}" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="page-option" grid-id="subMenuListGrid" />
                                </div>
                                <!-- //option-area -->
                            </div>
                            <!-- //grid-head -->
                            <div class="grid-body vh3" >
                                <div class="rg-root rg-grid vh3" id="subMenuListGrid" realgrid ></div>
                            </div>
                            <!-- //grid-body -->
                        </div>
                    </div>
                    <!-- //grid -->
                </div>
            </div>
            <!-- //data-cont -->
        </div>
    </div>
</th:block>
<th:block layout:fragment="add-script">
    <script th:inline="javascript">
        // 사용자도움말 여부 _ 에디터
        var oEditors = [];

        var code_list_UR005        = [[${codeList.UR005}]];
        var code_list_UR010        = [[${codeList.UR010}]];

        var gbKeys = [];
        var gbValues = [];
        for(const gb of code_list_UR005){
            gbKeys.push(gb.cd);
            gbValues.push(gb.cdNm);
        }

        var typKeys = [];
        var typValues = [];
        for(const gb of code_list_UR010){
            typKeys.push(gb.cd);
            typValues.push(gb.cdNm);
        }

        var msg = x2coMessage.getMessage( {
              messaageUprRtTgtSeqCheck : 'menuMgmt.message.wrong.check.upr.rt.tgt.seq'
            , messageNotCheckedData : 'adminCommon.grid.alert.no.selected.row'
            , gridInit : 'adminCommon.grid.alert.init'
            , rowCheckMsg : 'adminCommon.alert.no.selected.item.for.delete'
            , necessaryCheckMessage : 'menuMgmt.message.wrong.format.necessaryCheckMessage'
            , sortSeqCheck : 'menuMgmt.message.wrong.format.sortSeqCheck'
            , saveQuestionMessage : 'adminCommon.alert.save'
            , noSearchedDataMsg : 'adminCommon.grid.alert.no.searched.data'
            , messaageChkLeafYn : 'menuMgmt.message.wrong.check.leaf.menu.yn'
            , messaageChkLeafYnSub : 'menuMgmt.message.wrong.check.leaf.menu.yn.for.sub.menu'
            , rtTgtNmSizeCheck : 'menuMgmt.message.wrong.format.size.rt.tgt.nm'
            , callUrlSizeCheck : 'menuMgmt.message.wrong.format.size.call.url'
            , topMenuUprRtTgtSeqMessage : 'menuMgmt.message.wrong.format.upr.rt.tgt.seq'
            , rtTgtSeqCheck : 'menuMgmt.message.wrong.rt.tgt.seq'
        });

    </script>

    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'system/menuListGrid.eventHandler.js?202104290000'" ></script>
    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'system/subMenuListGrid.eventHandler.js?202104290002'" ></script>
    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'system/subMenuListGrid.provider.js?202104290002'" ></script>

    <script type="text/javascript">
        $(document).ready(function() {
            menuListGrid.eventhandler.init();
            subMenuListGrid.eventhandler.init();
        });
    </script>
</th:block>

</body>
</html>