<!--
* 프로그램명 : 사용자 관리
* 작 성 일 : 2021.03.09
* 작 성 자 : 장명섭
* 수 정 자 :
* 버    전 : 1.0
* 개    요 : 비밀번호 변경
* 이    력 :
-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/page-realgrid-layout}">
<body>
<th:block layout:fragment="page-title-area">
    <div class="page-title">
        <div class="left">
            <h1 th:text="${#messages.msg('passwordChange.label.title')}"></h1>
        </div>
    </div>
</th:block>
<th:block layout:fragment="page-contents">
    <div class="page-fixed with-title">
        <div class="search-cont">
            <div class="data">
                <div class="data-head">
                    <div class="left">
                        <span class="title" th:text="${#messages.msg('passwordChange.label.title')}"></span>
                    </div>
                </div>
                <div class="data-body">
                    <table class="data-table fixed">
                        <colgroup>
                            <col width="120">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td class="label">
                                <strong th:text="${#messages.msg('passwordChange.label.data.current.passwd')}"></strong>
                            </td>
                            <td>
                                <input type="password" id="currentPasswd" maxlength="15" class="input">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                <strong th:text="${#messages.msg('passwordChange.label.data.new.passwd')}"></strong>
                            </td>
                            <td>
                                <input type="password" id="newPasswd" maxlength="15" class="input">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                <strong th:text="${#messages.msg('passwordChange.label.data.confirm.passwd')}"></strong>
                            </td>
                            <td>
                                <input type="password" id="newPasswdConfirm" maxlength="15" class="input">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="hidden" id="loginId" th:value="${loginId}">
                </div>
            </div>
        </div>
        <div class="button-group search-btn">
            <a href="#" class="btn_blue button dark" id="btn_passwd_change">
                <span class="text" th:text="${#messages.msg('passwordChange.label.btn.confirm')}"></span>
            </a>
        </div>
    </div>
</th:block>
<th:block layout:fragment="add-script">
    <script th:inline="javascript">
            var msg = x2coMessage.getMessage( {
                  passwdNotSame : 'passwordChange.alert.passwd.not.same'
                , necessaryCheckMessage : 'passwordChange.message.passwd.necessaryCheckMessage'
                , notConfirm : 'passwordChange.message.passwd.not.confirm'
            });
    </script>

    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'system/passwordChange.eventHandler.js?202108060001'" ></script>

    <script type="text/javascript">
        $(document).ready(function() {
            passwordChange.eventhandler.init();
        });
    </script>
</th:block>

</body>
</html>