<!--
* 프로그램명 : 재고수량 일괄변경
* 작 성 일 : 2021.04.01
* 작 성 자 : 윤성원
* 수 정 자 : 홍혜리
* 버    전 : 1.0
* 개    요 : 상품관리  > 상품관리 > 단품관리 > 재고수량 일괄변경
* 이    력 : 2021.09.30 프레임워크 이전
-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/page-normal-layout}">
<body>
<th:block layout:fragment="page-contents">
    <div class="win-popup page-root">
        <div class="page-fixed">
            <div class="search-cont">
                <div class="header">
                    <h1 class="title"><th:block th:text="${#messages.msg('goodsItemMgmt.stkQtyMod.title')}"/></h1>
                </div>
                <div class="search">
                    <form>
                        <table class="data-table fixed">
                            <colgroup>
                                <col width="50px">
                                <col width="100px">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td class="label center" th:text="${#messages.msg('goodsItemMgmt.popup.label.item')}"></td>
                                    <td class="label center" th:text="${#messages.msg('goodsItemMgmt.popup.label.cont')}"></td>
                                </tr>
                                <tr>
                                    <td class="center" th:text="${#messages.msg('goodsItemMgmt.stkQtyMod.label.stkQty')}"></td>
                                    <td>
                                        <input type="text" class="input w40 only-no" id="stkQty"> 개
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="button-group search-btn">
                <a href="#" class="button" id="btn_close"><span class="text" th:text="${#messages.msg('adminCommon.button.close')}"></span></a>
                <a href="#" class="button" id="btn_apply"><span class="text" th:text="${#messages.msg('adminCommon.button.apply')}"></span></a>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="add-script">
    <script type="text/javascript">

        $(function() {
            var stkQtyModViewMsg = x2coMessage.getMessage({ noStkQtyMsg : 'goodsItemMgmt.stkQtyMod.alert.msg.noStkQtyMsg'});

            $('.only-no').on("property change keyup paste input",function(){
                $(this).val($(this).val().replace(/[^0-9]/g,""));
            });

            $('#btn_apply').click(function(){
                if($("#stkQty").val() === undefined || $("#stkQty").val() === '' || $("#stkQty").val() <= 0){
                    alert(stkQtyModViewMsg.noStkQtyMsg);
                    return;
                }

                var returnData = {};
                returnData.qty = $("#stkQty").val();
                returnData.type = 'stkQty';
                window.postMessage(JSON.stringify(returnData), _baseUrl);
                window.close();
            })

            $('#btn_close').click(function(){
                window.close();
            })
        });
    </script>
</th:block>
</body>
</html>