<!--
* 프로그램명 : 고객센터이관팝업
* 작 성 일 : 2021.07.22
* 작 성 자 : 홍혜리
* 수 정 자 : 홍혜리
* 버    전 : 1.0
* 개    요 : 상품관리 > 상품Q&A관리 > 상품Q&A관리 > 상품Q&A상세 > 고객센터이관팝업
* 이    력 : 2021.09.10 프레임워크 이전
-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/popup-update-layout}">
<body>
<th:block layout:fragment="header-area">
    <div style="margin-bottom: 20px;">
        <h1><th:block th:text="${#messages.msg('goodsQAMgmt.goodsQADetail.goodsQATransfer.title')}"/></h1>
    </div>
</th:block>
<th:block layout:fragment="data-area">
    <div class="search">
        <table class="search-table">
            <colgroup>
                <col width="100">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td class="label">
                    <strong th:text="${#messages.msg('goodsQAMgmt.goodsQADetail.goodsQATransfer.label.mvotCaus')}"></strong>
                </td>
                <td>
                    <textarea class="w100" id="mvotCaus" cols="30" rows="20" maxlength="4000" th:classappend="(${questInfo.mvotCaus} != null)?'disabled':''"
                              th:readonly="${questInfo.mvotCaus} != null and ${questInfo.mvotCaus} != ''" th:text="${questInfo.mvotCaus}"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
<th:block layout:fragment="button-area">
    <th:block th:if="${questInfo.mvotCaus} == null or ${questInfo.mvotCaus} == ''">
        <div class="button-group search-btn">
            <a href="#" class="button white" id="btn_popup_cancel">
                <span class="text" th:text="${#messages.msg('adminCommon.button.cancel')}"></span>
            </a>
            <a href="#" class="button large" id="btn_popup_save">
                <span class="text" th:text="${#messages.msg('goodsQAMgmt.goodsQADetail.goodsQATransfer.btn.transfer')}"></span>
            </a>
        </div>
    </th:block>
    <th:block th:unless="${questInfo.mvotCaus} == null or ${questInfo.mvotCaus} == ''">
        <div class="button-group search-btn">
            <a href="#" class="button large" id="btn_popup_close">
                <span class="text" th:text="${#messages.msg('adminCommon.button.close')}"></span>
            </a>
        </div>
    </th:block>
</th:block>
<th:block layout:fragment="add-script">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var _questInfo = [[${questInfo}]];
        /*]]>*/
    </script>
    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/goodsQATransfer.eventHandler.js?20210722'" ></script>
    <script th:inline="javascript">
        $(function(){
            goodsQATransfer.eventhandler.init();
        });
    </script>
</th:block>
</body>