<!--
* 프로그램명 : 임시 일반상품 등록
* 작 성 일 : 2021.03.17
* 작 성 자 : 홍혜리
* 수 정 자 : 홍혜리
* 버    전 : 1.0
* 개    요 : 상품관리 > 상품정보관리 > 상품등록
* 이    력 : 2021.10.07 프레임워크 이전
-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/goods/page-goods-layout}">
<body>
    <th:block layout:fragment="page-title-area">
        <script th:inline="javascript">
            var pageType = [[${pageType}]];
            var goodsInfo = [[${goodsInfo}]];
        </script>
        <div class="page-title">
            <th:block th:if="${pageType != null && pageType != ''}">
                <th:block th:if="${pageType == 'C'}">
                    <th:block layout:insert="~{fragments/goods/goods-title :: temp-goods-detail-title}"/>
                    <th:block layout:insert="~{fragments/goods/goods-button :: temp-goods-detail-button}"/>
                </th:block>
                <th:block th:unless="${pageType == 'C'}">
                    <th:block layout:insert="~{fragments/goods/goods-title :: goods-regist-title}"/>
                    <th:block layout:insert="~{fragments/goods/goods-button :: goods-regist-button}"/>
                </th:block>
            </th:block>
        </div>
    </th:block>
    <th:block layout:fragment="page-contents">
        <div class="page-fixed with-title">
            <div class="search-cont">
                <!-- 기본정보 영역 -->
                <th:block layout:fragment="content-basicInfo">
                    <th:block layout:insert="~{fragments/goods/goods-basicInfo :: goods-regist-basicInfo}"/>
                </th:block>
                <!--// 기본정보 영역 -->

                <!-- 상품정보 영역 -->
                <th:block layout:fragment="content-goodsInfo">
                    <th:block layout:insert="~{fragments/goods/goods-goodsInfo :: goods-regist-goodsInfo}"/>
                </th:block>
                <!--// 상품정보 영역 -->

                <!-- 상품고시품목정보 영역 -->
                <th:block layout:fragment="content-announcementInfo">
                    <th:block layout:insert="~{fragments/goods/goods-announcementInfo :: goods-announcementInfo}"/>
                </th:block>
                <!--// 상품고시품목정보 영역 -->

                <!-- 가격정보 영역 -->
                <th:block layout:fragment="content-priceInfo">
                    <th:block layout:insert="~{fragments/goods/goods-priceInfo :: goods-regist-priceInfo}"/>
                </th:block>
                <!--// 가격정보 영역 -->

                <!-- 배송정보 영역 -->
                <th:block layout:fragment="content-deliveryInfo">
                    <th:block layout:insert="~{fragments/goods/goods-deliveryInfo :: goods-deliveryInfo}"/>
                </th:block>
                <!--// 배송정보 영역 -->

                <!-- 판매옵션 영역 -->
                <th:block layout:fragment="content-saleInfo">
                    <th:block layout:insert="~{fragments/goods/goods-saleInfo :: goods-regist-saleInfo}"/>
                </th:block>
                <!--// 판매옵션 영역 -->

                <!-- 상품상세설명 영역 -->
                <th:block layout:fragment="content-detailInfo">
                    <th:block layout:insert="~{fragments/goods/goods-detailInfo :: goods-detailInfo}"/>
                </th:block>
                <!--// 상품상세설명 영역 -->

                <!-- 부가정보 영역 -->
                <th:block layout:fragment="content-additionalInfo">
                    <th:block layout:insert="~{fragments/goods/goods-additionalInfo :: goods-regist-additionalInfo}"/>
                </th:block>
                <!--// 부가정보 영역 -->

                <!-- 상품이미지 영역 -->
                <th:block layout:fragment="content-imageInfo">
                    <th:block layout:insert="~{fragments/goods/goods-imageInfo :: goods-imageInfo}"/>
                </th:block>
                <!--// 상품이미지 영역 -->
            </div>
        </div>
    </th:block>
    <th:block layout:fragment="add-script">
        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/goodsCommon.eventhandler.js?20211013'"></script>

        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/goodsRegist.eventHandler.js?20211013'"></script>
        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/goodsDetail.eventHandler.js?20211013'"></script>

        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/basicInfo.eventhandler.js?20211013'"></script>
        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/goodsInfo.eventHandler.js?20211013'"></script>
        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/announcementInfo.eventHandler.js?20211013'"></script>
        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/priceInfo.eventHandler.js?20211013'"></script>
        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/deliveryInfo.eventHandler.js?20211013'"></script>

        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/itemListGrid.provider.js?20211013'"></script>
        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/itemListGrid.eventHandler.js?20211013'"></script>

        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/detailInfo.eventHandler.js?20211013'"></script>

        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/dispCtgGrid.provider.js?20211013'"></script>
        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/dispCtgGrid.eventHandler.js?20211013'"></script>

        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/assocGoodsGrid.provider.js?20211013'"></script>
        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/assocGoodsGrid.eventHandler.js?20211013'"></script>

        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/adveWrdGrid.provider.js?20211013'"></script>
        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/adveWrdGrid.eventHandler.js?20211013'"></script>

        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/prestGrid.provider.js?20211013'"></script>
        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/prestGrid.eventHandler.js?20211013'"></script>

        <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'goods/temporaryGeneralGoods/imageInfo.eventHandler.js?20211013'"></script>

        <script th:inline="javascript">
            $(function(){
                basicInfo.eventhandler.init();              // 기본정보
                goodsInfo.eventhandler.init();              // 상품정보
                announcementInfo.eventhandler.init();       // 상품고시품목정보
                priceInfo.eventhandler.init();              // 가격정보
                deliveryInfo.eventhandler.init();           // 배송정보
                itemListGrid.eventhandler.init();           // 판매옵션
                detailInfo.eventhandler.init();             // 상품상세설명
                dispCtgGrid.eventhandler.init();            // 부가정보 - 전시카테고리 그리드
                assocGoodsGrid.eventhandler.init();         // 부가정보 - 연관상품 그리드
                adveWrdGrid.eventhandler.init();            // 부가정보 - 홍보문구 그리드
                prestGrid.eventhandler.init();              // 부가정보 - 증정품 그리드
                imageInfo.eventhandler.init();              // 상품이미지

                goodsCommon.eventhandler.init();            // 공통
            });
        </script>
    </th:block>
</body>
</html>
