<!--
* 프로그램명 : 관심고객관리
* 작 성 일 : 2021.02.23
* 작 성 자 : 박남훈
* 수 정 자 :
* 버    전 : 1.0
* 개    요 : 관심고객관리
* 이    력 :
-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/page-realgrid-layout}">
<head>
    <title>관심고객 관리</title>
</head>
<body>
<th:block layout:fragment="page-title-area">
    <div class="page-title">
        <div class="left">
            <h1 th:text="${#messages.msg('watchCustomerMgmt.watchCustomerManagementView.title')}"></h1>
        </div>
    </div>
</th:block>

<th:block layout:fragment="page-contents">
    <!-- page-fixed -->
    <div class="page-fixed with-title">
        <!-- search-cont -->
        <!-- page-title 가 있을경우 with-title 클래스 추가 -->
        <div class="search-cont full-height">
            <!-- search -->
            <div class="search">
<form name="watchCustomerSearchGridForm" id="watchCustomerSearchGridForm">
    <table class="search-table">
    <colgroup>
        <col width="120">
        <col>
        <col width="120">
        <col>
        <col width="120">
        <col>
    </colgroup>
    <tbody>
    <tr>
        <td class="label">
            <strong th:text="${#messages.msg('watchCustomerMgmt.watchCustomerManagementView.search.label.sysRegDtmFromTo')}"></strong>
        </td>
        <td>
            <div class="input-group">
                <div class="picker-group">
                    <input type="text" class="form-control disabled" readonly
                           name="condxSysRegDtmStt" id="condxSysRegDtmStt">
                    <span class="input-group-addon">~</span>
                    <input type="text" class="form-control disabled" readonly
                           name="condxSysRegDtmEnd" id="condxSysRegDtmEnd">
                    <span class="input-group-addon"><i class="icon-calendar" id="btnCalendar"></i></span>
                </div>
                <label>
                    <input class="checkbox-inline ml10" type="checkbox"
                           name="condxSysRegDtmAll" id="condxSysRegDtmAll"
                           th:text="${#messages.msg('watchCustomerMgmt.watchCustomerManagementView.search.label.sysRegDtmAll')}">
                </label>
            </div>

        </td>
        <td class="label"
            th:text="${#messages.msg('watchCustomerMgmt.watchCustomerManagementView.search.label.mgrGbTypCd')}">
        </td>
        <td>
            <select class="form-control" name="condxMgrGbCd" id="condxMgrGbCd">
                <option value=""
                        th:text="${#messages.msg('watchCustomerMgmt.watchCustomerManagementView.search.option.full')}">
                </option>
                <option th:each="list : ${codeList.ME019}"
                        th:value="${list?.cd}" th:utext="${list?.cdNm}"></option>
            </select>
            <select class="form-control" name="condxMgrTypCd" id="condxMgrTypCd">
                <option value=""
                        th:text="${#messages.msg('watchCustomerMgmt.watchCustomerManagementView.search.option.full')}">
                </option>
                <option th:each="list : ${codeList.ME009}"
                        th:value="${list?.cd}" th:utext="${list?.cdNm}"></option>
            </select>
        </td>
        <td class="label"
            th:text="${#messages.msg('watchCustomerMgmt.watchCustomerManagementView.search.label.mbrIdNm')}">
        </td>
        <td>
            <div class="input-group w100">
                <input type="text" class="input w20" maxlength="15" name="condxLoginId" id="condxLoginId">
                <em>/</em>
                <input type="text" class="input w50" maxlength="30" name="condxMbrNm" id="condxMbrNm">
            </div>
        </td>
    </tr>
</table>
</form>
            </div>
            <!-- //search -->

            <!-- search-btn -->
            <div class="button-group search-btn">
<a href="#" class="button white" id="btnInitialize">
    <span class="text" th:text="${#messages.msg('watchCustomerMgmt.watchCustomerManagementView.search.button.initialize')}"></span>
</a>
<a href="#" class="button dark" id="btnSearch">
    <span class="text" th:text="${#messages.msg('watchCustomerMgmt.watchCustomerManagementView.search.button.search')}"></span>
</a>
            </div>
            <!-- //search-btn -->

            <!-- grid -->
            <div class="grid-cont">
<div class="grid" style="overflow: hidden;">
    <div class="grid-head">
        <div class="title-area">
            <h2 class="title" th:text="${#messages.msg('watchCustomerMgmt.watchCustomerManagementView.result.title')}" />
        </div>
        <div class="option-area">
            <div class="edit-option">
                <div class="button-group">
                    <a href="#" class="button inside" id="btnWatchCustomerRegister">
                        <span class="text"
                              th:text="${#messages.msg('watchCustomerMgmt.watchCustomerManagementView.result.button.label.btnWatchCustomerRegister')}" />
                    </a>
                    <a href="#" class="button inside" id="btnWatchCustomerRemove">
                        <span class="text"
                              th:text="${#messages.msg('watchCustomerMgmt.watchCustomerManagementView.result.button.label.btnWatchCustomerRemove')}" />
                    </a>
                </div>
            </div>
            <div class="page-option" grid-id="watchCustomerSearchResultGrid" />
        </div>
    </div>
    <div class="grid-body with-head">
        <div class="rg-root rg-grid" id="watchCustomerSearchResultGrid" realgrid></div>
    </div>
</div>
            </div>
            <!-- //grid -->
        </div>
        <!-- //search-cont -->
    </div>
    <!-- //page-fixed -->
</th:block>

<th:block layout:fragment="add-script">

    <script th:inline="javascript">
    /*<![CDATA[*/
    /*]]>*/
    </script>

    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'customer/watchCustomerSearchResultGrid.provider.js'"></script>
    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'customer/watchCustomerSearchResultGrid.eventHandler.js'"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            watchCustomerSearchResultGrid.eventhandler.initialize();
        });
    </script>

</th:block>
</body>
</html>