@charset "utf-8";
#wrap {width: 100%; height: 100%; min-width: 1024px; overflow:hidden;}
#wrap * {box-sizing: border-box;}

#header {display: table-row; height: 79px; width: 100%; background-color: #FFFFFF; position: absolute; z-index: 9999;}
#header .logo {float: left; background: #434752; width: 214px; height: 79px;border-bottom:1px solid #2a2e39}
#header img {width: 48%; margin: 24px auto; display: block;}
#header .cont {position: relative; height:79px; margin-left: 214px;}
#header .cont:after {content: ""; width: 100%; display: block; position: absolute; bottom: 0; left: 0;}

#header .util {display:flex; align-items: center; justify-content: space-between; width:100%; height: 29px; background: #343a48; overflow: hidden;}
#header .util .snb-toggle {margin-left:5px;}
#header .util .snb-toggle .toggle-button {width:19px; height:19px; font-size:0; background: url('../img/list-toggle.svg') no-repeat center ; background-size: 15px auto;}
#header .util .snb-toggle.hide .toggle-button {background-image: url('../img/list-toggle_ov.svg');}

#header .util .util-menu {display:flex; align-items: center; text-align:right;height: 100%;padding-right:10px}
#header .util .util-menu li{display:inline-flex; align-items: center; }
#header .util .util-menu li:not(:first-child)::before {content:''; display:inline-block;width:1px;height:10px; margin:0 7px; border-left: 1px solid #adb1b4;}

#header .w-alam {float: left;position: relative;}
#header .w-alam a {cursor: pointer;}
#header .w-alam img {width: 16px;margin: 0;}
#header .w-alam p {left: 11px; top: 4px; background: #f04c40; position: absolute; padding: 0px 3px 0px 3px; text-align: center; line-height: 12px;
    			letter-spacing: 0; color: #fff; font-size: 10px; border-radius: 50%;}


#header .noti-button {font-size: 11px; color: #FFFFFF; text-decoration: none;}
#header .noti-button.user {height:10px; padding-left:14px; background:transparent url('../img/icon_user.svg') no-repeat left center;}
#header .noti-button.time {color:#adb1b4 !important; letter-spacing: 0px; line-height: 10px;}
#header .noti-button.logout {padding-left:17px; background: transparent url('../img/icon_logout.svg') no-repeat left center; font-weight: bold;}

#gnb {min-width: 1024px; height: 50px; overflow: hidden; background: #494d57; border-bottom: 1px solid #494d57;}
#gnb ul {height:100%; margin-left:22px}
#gnb ul:after {content:'';display: block; clear: both;}
#gnb .menu-item {float:left; height:100%;}
#gnb .menu-item a {display:block; height:100%; padding:0 29px; line-height:49px;font-size: 12px; font-weight: bold;color:#fff;white-space: nowrap;cursor: pointer;}
#gnb .menu-item a:hover {background-color:#409eff;text-decoration: none;}
#gnb .menu-item a.active {
    /* background: #409eff; */
    line-height: 45px;
    color: #fff !important;
    font-weight: bold;}
#gnb .menu-item a.active::before {content: ''; display: block; position: relative; top: 38px; left: 21px; width: 3px; height: 3px; background: url(../img/icon_dot.png) no-repeat center; background-size: 3px;}
#container {padding-top: 79px; width: 100%; height: calc(100% - 29px); line-height: 0; font-size: 0;}

/* #header .util .util-menu .left {display: table-cell; text-align: left;}  */
/* #header .util .util-menu .notification-box {font-size: 12px; line-height: 24px;}
#header .util .util-menu .notification-box .msg {color: #FFFFFF; padding: 0 10px;}
#header .util .util-menu .notification-box .link {color: #F8E71C;}
#header .util .util-menu .notification-box .link:hover {color: #853b00;}  */


/* #wrap .container .aside-dock {width: 30px; height: 100%; line-height: 30px; display: table-cell; vertical-align: top;}
#wrap .container .aside-dock .aside-dock-cont {position: relative; overflow: hidden; height: 100%;}
#wrap .container .aside-dock .aside-dock-cont:after {content: ""; border-right: 1px solid #bebebe; height: 100%; display: block; position: absolute; top: 0; right: 0; z-index: 1;}
#wrap .container .aside-dock .aside-dock-cont .dock-box {position: absolute; display: block; -webkit-transform: rotate(-90deg) translate(-50vh, 0); -moz-transform: rotate(-90deg) translate(-50vh, 0); -ms-transform: rotate(-90deg) translate(-50vh, 0); transform: rotate(-90deg) translate(-50vh, 0); transform-origin: 0 0; min-width: 50vh; height: 30px; text-align: right;}
#wrap .container .aside-dock .aside-dock-cont .dock-box .dock-button {display: inline-block; font-size: 12px; text-decoration: none; color: #6E6E6E; padding: 0 10px; border-left: 1px solid #bebebe; height: 30px;}
#wrap .container .aside-dock .aside-dock-cont .dock-box .dock-button:hover,
#wrap .container .aside-dock .aside-dock-cont .dock-box .dock-button.active {background: #FFFFFF;}
#wrap .container .aside-dock .aside-dock-cont .dock-box .dock-button i,
#wrap .container .aside-dock .aside-dock-cont .dock-box .dock-button span {vertical-align: middle;} */


/* #wrap .container .bside-dock {width: 30px; height: 100%; line-height: 30px; display: table-cell;}
#wrap .container .bside-dock .bside-dock-cont {position: relative; height: 100%; overflow: hidden;}
#wrap .container .bside-dock .bside-dock-cont:after {content: ""; border-left: 1px solid #bebebe; height: 100%; display: block; position: absolute; top: 0; left: 0; z-index: 1;}
#wrap .container .bside-dock .bside-dock-cont .dock-box {position: absolute; display: block; -webkit-transform: rotate(90deg) translate(0, -30px); -moz-transform: rotate(90deg) translate(0, -30px); -ms-transform: rotate(90deg) translate(0, -30px); transform: rotate(90deg) translate(0, -30px); transform-origin: 0 0; min-width: 50vh; height: 30px; text-align: left;}
#wrap .container .bside-dock .bside-dock-cont .dock-box .dock-button {display: inline-block; font-size: 12px; text-decoration: none; color: #6E6E6E; padding: 0 10px; border-right: 1px solid #bebebe; height: 30px;}
#wrap .container .bside-dock .bside-dock-cont .dock-box .dock-button:hover,
#wrap .container .bside-dock .bside-dock-cont .dock-box .dock-button.active {background: #FFFFFF;}
#wrap .container .bside-dock .bside-dock-cont .dock-box .dock-button i,
#wrap .container .bside-dock .bside-dock-cont .dock-box .dock-button span {vertical-align: middle;}
#wrap .container .bside {background-color: #FFFFFF; width: 300px; display: none; height: 100%; vertical-align: top;}
#wrap .container .bside .bside-cont {position: relative; height: 100%;}
#wrap .container .bside .bside-cont:after {content: ""; border-left: 1px solid #bebebe; height: 100%; display: block; position: absolute; top: 0; left: 0;} */

.contents {height: 100%; overflow: hidden; vertical-align: top; position: relative;}
.contents .pages {height:100%;}
.contents .pages .cont-tab {width: 100%; height: 33px; background: #FFFFFF; overflow: hidden; line-height: 30px; position: relative; font-size: 12px;}
.contents .pages .cont-tab:after {content: ""; border-bottom: 1px solid #bebebe; width: 100%; display: block; position: absolute; bottom: 0; left: 0;}
.contents .pages .cont-tab .item {float:left; display: inline-block; min-width: 120px; height: 33px; line-height: 35px; color: #495060; padding: 0 29px 0 16px;font-size: 12px; text-decoration: none; background: #f6f6f6; border-right: 1px solid #b7b7b7; position: relative;}
.contents .pages .cont-tab .item:hover {background: #ECECEC;}
.contents .pages .cont-tab .item.active {background-color: #fff; color: #6e6e6e; border-color: #bebebe; font-weight: bold; border-top: 1px solid #494d57;}
.contents .pages .cont-tab .item.active:after {content: ""; border-bottom: 1px solid #ECECEC; width: 100%; display: block; position: absolute; bottom: 0; left: 0; z-index: 1;}
.contents .pages .cont-tab .item i,
.contents .pages .cont-tab .item span {font-size: 11px;}
.contents .pages .cont-tab .item .tab-close {width: 14px; height: 14px; line-height: 16px; position: absolute; right: 6px; top: 9px; vertical-align: middle; border-radius: 50%; font-size: 19px; text-align: left; transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); transform-origin: 100% 50%;}
.contents .pages .cont-tab .item .tab-close ::before {transform: scale(0.6); display: inline-block; position: absolute; left: 1px; top: 1px;}
.contents .pages .cont-tab .item .tab-close:hover {background-color: #b4bccc; color: #fff;}
.contents .pages .cont-wrap {width: 100%; height:calc(100% - 33px); overflow-y:hidden; word-break: break-word;}

#VIEW-PAGE {height:100%}
#VIEW-PAGE iframe {display: none;}
#VIEW-PAGE iframe.active {display: block;}

/* .contents .pages .page-tool {width: 100%; height: 30px; background: #FFFFFF; display: none;}
.contents .pages .page-tool .page-tool-cont {width: 100%; height: 30px; position: relative; display: table; border-top: 1px solid #bebebe;}
.contents .pages .page-tool .page-tool-cont .bar-span {font-size: 12px; display: inline-block; height: 30px; line-height: 30px; color: #6E6E6E; padding: 0 10px;}
.contents .pages .page-tool .page-tool-cont .bar-span i,
.contents .pages .page-tool .page-tool-cont .bar-span span {vertical-align: middle;}
.contents .pages .page-tool .page-tool-cont .bar-button {font-size: 12px; display: inline-block; height: 30px; line-height: 30px; color: #6E6E6E; padding: 0 10px; text-decoration: none;}
.contents .pages .page-tool .page-tool-cont .bar-button:hover {background: #ECECEC;}
.contents .pages .page-tool .page-tool-cont .bar-button.active {background: #ECECEC; color: #EB6800;}
.contents .pages .page-tool .page-tool-cont .bar-button i,
.contents .pages .page-tool .page-tool-cont .bar-button span {vertical-align: middle;}
.contents .pages .page-tool .page-tool-cont .left {display: table-cell; text-align: left;}
.contents .pages .page-tool .page-tool-cont .left .bar-button {border-right: 1px solid #bebebe;}
.contents .pages .page-tool .page-tool-cont .right {display: table-cell; text-align: right;}
.contents .pages .page-tool .page-tool-cont .right .bar-button {border-left: 1px solid #bebebe;}  */


/* snb */
#snb:after {content: ""; border-right: 1px solid #bebebe; height: 100%; display: block; position: absolute; top: 0; right: 0;}
#snb {position:relative; float:left; width:214px; height:100%; padding:0 0 50px 0; background:#333742;transition:ease-out 150ms; opacity: 1;left:0;z-index: 1;overflow-x: hidden;}
#wrap.hide #snb.toggle-cont {/* position:absolute;top:79px;*/left:-1px; opacity:1;display: block;width:0;}
#snb ul {width: 214px;}
#snb .title {min-height:38px;}
#snb .title a:hover {text-decoration: none;}
#snb .title > a {display:block; position:relative; padding-left:40px; height:38px; line-height:38px;background:#2d303a; border-bottom: 1px solid #393e4a; color:#f4f3f8; font-size:12px; font-weight:bold; cursor:pointer;}
#snb .title:hover > a {padding-left:38px;}
#snb .title.active > a {padding-left:38px; border-left: 2px solid #4092ff;}
#snb .title.active > a:before {content:'';display:inline-block; width:12px; height:12px;
    /*  background: url('../img/icon_home.png') no-repeat center; */ position:absolute; left:20px; top:12px}
#snb .title > a .arrow {display: inline-block; width: 12px; position: relative; top: 11px; margin: -2px 5px 3px 23px; height: 30px; background: url('../img/icon_home.png') no-repeat center;}

#snb .depth2 {padding:10px 0; display: none;}
#snb .depth2 li {position:relative;}
#snb .depth2 li > a {display:block; padding:10px 25px 10px 40px; color:#9f9f9f; font-size:12px; font-weight:normal; text-decoration:none; line-height:1; letter-spacing:-1px;}
#snb .depth2 li > a::before {content: ''; display: block; position: absolute; top: 14px; left: 32px; width: 2px; height: 2px; background-color: #646464;}
#snb .depth2 li:hover > a {color:#fff !important;font-weight: bold;}
#snb .depth2 li.active > a {font-weight: bold; color:#fff; background:#409eff; color:#fff !important; font-weight: bold;}
#snb .depth2 li.active > a::before {content: '';display: block;position: absolute;top: 14px;left: 32px;width: 2px;height: 2px;background-color: #fff;}
#snb .depth2 li .set {display:block; position:absolute; top:5px; right:4px; width:20px; height:20px; border:1px solid transparent; background-image:url('../image/common/icon_set.png'); background-position:center; background-repeat:no-repeat; text-indent:-50000px;}
#snb .depth2 li .set:hover {background-image:url('../img/icon_set_over.png');}
#snb .depth2 li .icon {position:absolute; left:18px; top:8px;}
#snb .depth2 li .data_count {padding-left:5px; font-size:11px; font-weight:bold; color:#fff;}

/* snb tab */
#snb .tabs {margin-bottom:17px}
#snb .tabs li {width:50%;}
#snb .tabs li a {height:41px; color:#a7a7a7; border-bottom:1px solid #292c35;background-color: #3d414c;font-size:12px;line-height:40px;text-align:center;font-weight: bold;}
#snb .tabs li a:first-child {border-right:1px solid #292c35}
#snb .tabs li.active a {border-bottom:1px solid #333742;color:#fff;background-color:#333742}

/* footer */
#footer {width: 100%; height: 28px;position: absolute;background-color: #fff;z-index: 2;}
#footer .footer-cont {position: relative; width: 100%; height: 28px; display: table; border-top: 1px solid #bebebe;}
#footer .footer-cont .bar-span {letter-spacing: -0.3px; font-size: 10px; display: inline-block; height: 28px; line-height: 28px; color: #999; padding: 0 10px;}
#footer .footer-cont .bar-span i,
#footer .footer-cont .bar-span span {vertical-align: middle;}
#footer .footer-cont .bar-button {font-size: 12px; display: inline-block; height: 28px; line-height: 28px; color: #6E6E6E; padding: 0 10px; text-decoration: none;}
#footer .footer-cont .bar-button:hover {background: #FFFFFF;}
#footer .footer-cont .bar-button.active {background: #FFFFFF;}
#footer .footer-cont .bar-button i,
#footer .footer-cont .bar-button span {vertical-align: middle;}
#footer .footer-cont .left {display: table-cell; text-align: left;}
#footer .footer-cont .left .bar-button {border-right: 1px solid #bebebe;}
#footer .footer-cont .right {display: table-cell; text-align: right;}
#footer .footer-cont .right .bar-button {border-left: 1px solid #bebebe;}

/* toggle */
.toggle {transition:all 1s ease;}
.toggle.hide .toggle-cont { height:0; width:0; display:none }

/* win-popup */
.win-popup.page-root { overflow: unset;}
/* .win-popup.page-root .page-fixed { overflow-y: unset;}  */
.win-popup .header {position:relative; padding: 0 0 7px; border-bottom: 2px solid #888; margin-bottom: 20px;}
.win-popup .header > .title { color: #222; display: inline-block; font-size: 13px; font-weight: bold; }
.win-popup .header > .button-group, .win-popup .header > .button {position:absolute;right:0;top:-10px;}
.win-popup .page-fixed > .button-group { width: 100%; margin-top: 20px !important; text-align: center; }
/* .win-popup .page-fixed .search-cont > .search-btn { margin: 15px auto 0px; } */


/* layer-popup */
html.layer-open .layer-popup .scroll-wrap {overflow-y: scroll;}
.layer-popup{position: fixed;height:100%;top: 0;left: 0;width:100%;min-height: 100%;z-index: 7;visibility: hidden;pointer-events: none;}
.layer-popup:after {position: absolute;display:block;content:'';left:0;top:0;bottom: 0;width:100%;height:100%;min-height: 100vh;background:rgba(0,0,0,0.7);z-index:1;}
.layer-popup.open {visibility: visible;pointer-events: all;}
.layer-popup .scroll-wrap{display: flex;align-items: flex-start;justify-content: center;position:relative;z-index:2;width: 100%;padding: 15px;height: 100%;}
.layer-popup .scroll-wrap > .box {position:relative;background:#fff;width: 600px;max-width: 1360px;z-index:2;padding:20px;opacity: 0;transition: .3s ease;}
.layer-popup.open .scroll-wrap > .box {opacity: 1;}
.layer-popup.fix-center .scroll-wrap {align-items:center;}
.layer-popup h1 {text-align: left;
    font-size: 15px;
    letter-spacing: -1.5px;
    font-weight: bold;
    height: 23px;
    line-height: 0px;
    color: #333;
    margin-bottom: 20px;}
.layer-popup .cont {line-height: 1.2;}
.layer-popup .button-group {display: block; text-align: center;margin-top:30px}
.layer-popup .btn-close {position: absolute;top:23px;right:20px;background: url(../img/btn_layer_close.png) no-repeat 50% 50%; width:20px;height:20px;font-size:0;line-height: 0;}

/* layer-popup */
html.notice-layer-open .notice-layer-popup .notice-scroll-wrap {overflow-y: scroll;}
.notice-layer-popup{position: fixed;height:100%;top: 0;left: 0;min-height: 100%;z-index: 7;visibility: hidden;pointer-events: none;}
.notice-layer-popup:after {position: absolute;display:block;content:'';left:0;top:0;bottom: 0;width:100%;height:100%;min-height: 100vh;z-index:1;}
.notice-layer-popup.open {visibility: visible;pointer-events: all;}
.notice-layer-popup .notice-scroll-wrap{display: flex;align-items: flex-start;justify-content: center;position:relative;z-index:2;width: 100%;padding: 15px;height: 100%;}
.notice-layer-popup .notice-scroll-wrap > .box {position:relative;background:#fff;width: 600px;max-width: 1360px;z-index:2;padding:20px;opacity: 0;transition: .3s ease;}
.notice-layer-popup.open .notice-scroll-wrap > .box {opacity: 1;}
.notice-layer-popup.fix-center .notice-scroll-wrap {align-items:center;}
.notice-layer-popup h1 {text-align: left;
    font-size: 15px;
    letter-spacing: -1.5px;
    font-weight: bold;
    height: 23px;
    line-height: 0px;
    color: #333;
    margin-bottom: 20px;}
.notice-layer-popup .cont {line-height: 1.2;}
.notice-layer-popup .button-group {display: block; text-align: center;margin-top:30px}
.notice-layer-popup .btn-close {position: absolute;top:23px;right:20px;background: url(../img/btn_layer_close.png) no-repeat 50% 50%; width:20px;height:20px;font-size:0;line-height: 0;}
.notice-layer-popup .stop-today{text-align: right;}
.notice-layer-popup .stop-today > a {padding-right: 10px}
.notice-layer-popup .file-list{text-align: right;}
.notice-layer-popup .file-upload .file-list li {display:block;cursor: pointer;}

/* icon */
.icon-circle-with-cross:before {
	content:url('../img/clear-24px.svg');
	display: inline-block;
    width: 12px;
}
.icon-circle-with-cross:hover::before {
	content:url('../img/clear-24px_ov.svg');
	display: inline-block;
    top: 1px !important;
    left: 1px !important;
}
