<!--
* 프로그램명 : 브랜드 조회 팝업
* 작 성 일 : 2021.02.25
* 작 성 자 : 홍혜리
* 수 정 자 : 홍혜리
* 버    전 : 1.0
* 개    요 : 브랜드 조회 팝업
* 이    력 : 2021.08.02 단일선택시 적용방식 수정
-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/popup-layout}">
<body>
<!--Title Area-->
<th:block layout:fragment="popup-title-area">
    <th:block layout:insert="~{fragments/popup/popup-title :: popup-title}"
              th:with="title=${#messages.msg('baseInfoMgmt.label.popup.brandList.title')}"></th:block>
</th:block>
<!--Title Area-->

<!--Search Area-->
<th:block layout:fragment="popup-search-area">
    <div class="search">
        <form name="brandGridForm" id="brandGridForm">
            <table class="search-table">
                <colgroup>
                    <col style="width:15%;" />
                    <col style="width:50%;" />
                    <col style="width:15%;" />
                    <col style="width:20%;" />
                </colgroup>
                <tbody>
                <tr>
                    <td class="label" th:text="${#messages.msg('baseInfoMgmt.label.popup.brandList.search.option')}"></td>
                    <td>
                        <select class="form-control" id="searchOption" name="searchOption">
                            <option value="01" th:text="브랜드번호"  th:selected="true"></option>
                            <option value="02" th:text="브랜드명"></option>
                        </select>
                        <input class="input" type="text" name="searchWord" id="searchWord" maxlength="15"/>
                    </td>
                    <td class="label" th:text="${#messages.msg('baseInfoMgmt.label.popup.brandList.useYn')}"></td>
                    <td>
                        <select class="form-control w90" id="useYn" name="useYn">
                            <th:block th:if="${requestData.argUseYn} == '' or ${requestData.argUseYn} == null ">
                                <option value="" th:text="${#messages.msg('baseInfoMgmt.label.full')}"></option>
                                <option value="Y" th:text="${#messages.msg('baseInfoMgmt.label.use')}"></option>
                                <option value="N" th:text="${#messages.msg('baseInfoMgmt.label.disuse')}"/>
                                </option>
                            </th:block>
                            <th:block th:unless="${requestData.argUseYn} == '' or ${requestData.argUseYn} == null ">
                                <option th:if="'Y'==${requestData.argUseYn}" th:value="Y" th:text="${#messages.msg('baseInfoMgmt.label.use')}"></option>
                                <option th:if="'N'==${requestData.argUseYn}" th:value="N" th:text="${#messages.msg('baseInfoMgmt.label.disuse')}"/></option>
                            </th:block>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</th:block>
<!--Search Area-->

<!--Search Button Area-->
<th:block layout:fragment="popup-search-button-area">
    <th:block layout:insert="~{fragments/popup/popup-btn :: popup-search-btn}"/>
</th:block>
<!--Search Button Area-->

<!--List Area-->
<th:block layout:fragment="popup-List-area">
    <div class="grid">
        <div class="grid-head" style="overflow: hidden;">
            <div class="title-area">
                <h2 class="title" th:text="${#messages.msg('baseInfoMgmt.label.popup.brandList.list')}"></h2>
            </div>
            <div class="option-area">
                <div class="page-option" grid-id="brandGrid">
                </div>
            </div>
        </div>

        <div class="grid-body with-head">
            <div id="brandGrid" class="rg-root rg-grid" realgrid></div>
        </div>
    </div>
</th:block>
<!--List Area-->

<!--List Button Area-->
<th:block layout:fragment="popup-List-button-area">
    <th:block layout:insert="~{fragments/popup/popup-btn :: popup-List-btn}"/>
</th:block>

<!-- Additional Script -->
<th:block layout:fragment="add-script">
    <script th:inline="javascript">
        var _gridType       = [[${requestData.argSelectType}]]; // 필수값 (선택 구분 1/N)
    </script>
    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'popup/popup.brandList.brandGrid.eventHandler.js?20210802'" ></script>
    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'popup/popup.brandList.brandGrid.provider.js?2021030801'" ></script>

    <script type="text/javascript">
        $(function() {
            brandGrid.eventhandler.init();
        });
    </script>
</th:block>
</body>
</html>