<!--
* 프로그램명 : 제휴사 CRU
* 작 성 일 : 2021.02.10
* 작 성 자 : 박남훈
* 수 정 자 :
* 버    전 : 1.0
* 개    요 : 제휴사 CRU 관리를 하는 UI
* 이    력 :
-->
<html lang="ko-KR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/page-realgrid-layout}">

<head>
    <title>sub title</title>
</head>
<body>
<th:block layout:fragment="page-title-area">
<div class="page-title">
    <div class="left">
        <h1><th:block th:text="${#messages.msg('vendorMgmt.cooperate.detail.label.title')}"/></h1>
    </div>
</div>
</th:block>
<th:block layout:fragment="page-contents">
<div class="page-fixed with-title">
    <form name="cooperateAndOthersForm" id="cooperateAndOthersForm">
        <div class="data-cont">
            <div class="data">
                <!-- data-head -->
                <div class="data-head">
                    <div class="left">
                        <span class="title" th:text="${#messages.msg('vendorMgmt.partner.popup.lable.title')}"></span>
                    </div>
                </div>
                <!-- //data-head -->
                <!-- data-body -->
                <div class="data-body">
                    <table class="data-table fixed">
                        <colgroup>
                            <col width="120">
                            <col>
                            <col width="120">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td class="label"><strong th:text="${#messages.msg('vendorMgmt.cooperate.detail.label.entrNoNm')}"></strong></td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="input disabled w30" title="제휴사번호"
                                           maxlength="15" id="entrNo" name="entrNo" readonly="readonly"
                                           th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.entrNo}">
                                    <em>/</em>
                                    <input type="text" class="input w60" title="제휴사명" maxlength="250"
                                           id="entrNm" name="entrNm"
                                           th:data-msg-empty="#{vendorMgmt.cooperate.detail.valid.empty.entrNm}"
                                           th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.entrNm}">
                                </div>
                            </td>
                            <td class="label"><strong th:text="${#messages.msg('vendorMgmt.cooperate.detail.label.rpstmnNm')}"></strong></td>
                            <td>
                                <input class="input w50" type="text" title="대표자명" maxlength="50"
                                       id="rpstmnNm" name="rpstmnNm"
                                       th:data-msg-empty="#{vendorMgmt.cooperate.detail.valid.empty.rpstmnNm}"
                                       th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.rpstmnNm}">
                            </td>
                        </tr>
                        <tr>
                            <td class="label" th:text="${#messages.msg('vendorMgmt.cooperate.detail.label.bmanKindCd')}"></td>
                            <td>
                                <select class="form-control w50" name="bmanKindCd" id="bmanKindCd">
                                    <option value=""
                                            th:text="${#messages.msg('vendorMgmt.cooperate.detail.option.full')}">
                                    </option>
                                    <option th:each="list : ${codeList.VD004}"
                                            th:value="${list?.cd}" th:utext="${list?.cdNm}"
                                            th:selected="${list.cd} == (${cooperateInfo == null} ? '' : ${cooperateInfo.bmanKindCd})"></option>
                                </select>
                            </td>
                            <td class="label"><strong th:text="${#messages.msg('vendorMgmt.cooperate.detail.label.trdStatCd')}"></strong></td>
                            <td>
                                <select class="form-control w50" name="trdStatCd" id="trdStatCd"
                                        th:data-msg-empty="#{vendorMgmt.cooperate.detail.valid.empty.trdStatCd}">
                                    <option value=""
                                            th:text="${#messages.msg('vendorMgmt.cooperate.detail.option.full')}">
                                    </option>
                                    <option th:each="list : ${codeList.VD003}"
                                            th:value="${list?.cd}" th:utext="${list?.cdNm}"
                                            th:selected="${list.cd} == (${cooperateInfo == null} ? '' : ${cooperateInfo.trdStatCd})"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><strong th:text="${#messages.msg('vendorMgmt.cooperate.detail.label.bmanNo')}"></strong></td>
                            <td>
                                <input class="input w50" type="text" title="사업자 번호" maxlength="10"
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                       name="bmanNo" id="bmanNo"
                                       th:data-msg-empty="#{vendorMgmt.cooperate.detail.valid.empty.bmanNo}"
                                       th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.bmanNo}">
                            </td>
                            <td class="label">법인번호</td>
                            <td>
                                <input class="input w50" type="text" title="법인번호" maxlength="10"
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                       name="corpnNo" id="corpnNo"
                                       th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.corpnNo}">
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><strong th:text="${#messages.msg('vendorMgmt.cooperate.detail.label.contStrtEndDy')}"></strong></td>
                            <td colspan="3">
                                <div class="picker-group" data-lopicker="basic">
                                    <input type="text" class="form-control" placeholder=""
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                           name="contStrtDy" id="contStrtDy"
                                           th:data-msg-empty="#{vendorMgmt.cooperate.detail.valid.empty.contStrtDy}"
                                           th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.contStrtDy}">
                                    <span class="input-group-addon">~</span>
                                    <input type="text" class="form-control" placeholder=""
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                           name="contEndDy" id="contEndDy"
                                           th:data-msg-empty="#{vendorMgmt.cooperate.detail.valid.empty.contEndDy}"
                                           th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.contEndDy}">
                                    <span class="input-group-addon"><i class="icon-calendar" id="btn_calendar"></i></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><strong th:text="${#messages.msg('vendorMgmt.cooperate.detail.label.aempTelNo')}"></strong></td>
                            <td>
                                <div class="input-group" id="aempTelNo"
                                     th:data-msg-empty="#{vendorMgmt.cooperate.detail.valid.empty.aempTelNo}">
                                    <input type="text" class="input w20" maxlength="4"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                           name="aempTelRgnNo" id="aempTelRgnNo"
                                           th:data-msg-empty="#{vendorMgmt.cooperate.detail.valid.empty.aempTelRgnNo}"
                                           th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.aempTelRgnNo}">
                                    <input type="text" class="input w20" maxlength="4"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                           name="aempTelTxnoNo" id="aempTelTxnoNo"
                                           th:data-msg-empty="#{vendorMgmt.cooperate.detail.valid.empty.aempTelTxnoNo}"
                                           th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.aempTelTxnoNo}">
                                    <input type="text" class="input w20" maxlength="4"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                           name="aempTelEndNo" id="aempTelEndNo"
                                           th:data-msg-empty="#{vendorMgmt.cooperate.detail.valid.empty.aempTelEndNo}"
                                           th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.aempTelEndNo}">
                                </div>
                            </td>
                            <td class="label" th:text="${#messages.msg('vendorMgmt.cooperate.detail.label.aempFaxNo')}"></td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="input w20" maxlength="4"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                           name="faxRgnNo" id="faxRgnNo"
                                           th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.faxRgnNo}">
                                    <input type="text" class="input w20" maxlength="4"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                           name="faxTxnoNo" id="faxTxnoNo"
                                           th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.faxTxnoNo}">
                                    <input type="text" class="input w20" maxlength="4"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                           name="faxEndNo" id="faxEndNo"
                                           th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.faxEndNo}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><strong th:text="${#messages.msg('vendorMgmt.cooperate.detail.label.zipNoAddrDtl')}"></strong></td>
                            <td colspan="3">
                                <div class="input-group address w90" id="zipNoAddrDtl">
                                    <input type="hidden" class="input disabled" disabled="" name="zipNoSeq" id="zipNoSeq"
                                           th:data-msg-empty="#{vendorMgmt.cooperate.detail.valid.empty.zipNoSeq}"
                                           th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.zipNoSeq}">
                                    <a href="#" class="button small" id="btn_addressSearch">
                                        <span class="text w10"
                                              th:text="${#messages.msg('vendorMgmt.cooperate.detail.button.searchAddr')}">
                                        </span>
                                    </a>
                                    <input type="text" class="input disabled w10" disabled="" name="zipNo" id="zipNo"
                                           th:data-msg-empty="#{vendorMgmt.cooperate.detail.valid.empty.zipNo}"
                                           th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.zipNo}">
                                    <input type="text" class="input disabled w30" disabled="" name="zipAddr" id="zipAddr"
                                           th:data-msg-empty="#{vendorMgmt.cooperate.detail.valid.empty.zipAddr}"
                                           th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.zipAddr}">
                                    <input type="text" class="input w50" name="dtlAddr" id="dtlAddr"
                                           th:data-msg-empty="#{vendorMgmt.cooperate.detail.valid.empty.dtlAddr}"
                                           th:value="${cooperateInfo == null} ? '' : ${cooperateInfo.dtlAddr}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label" th:text="${#messages.msg('vendorMgmt.cooperateEmployee.list.title')}"></td>
                            <td colspan="3">
                                <!-- 제휴사 담당자 리얼그리드 -->
                                <div class="grid-cont">
                                    <div class="grid" style="overflow: hidden;">
                                        <div class="grid-head">
                                            <div class="option-area">
                                                <div class="edit-option">
                                                    <div class="button-group">
                                                        <a href="#" class="button inside" id="btn_cooperateEmployee_grid_add">
                                                            <span class="text" th:text="${#messages.msg('vendorMgmt.cooperateEmployee.grid.button.label.add')}" />
                                                        </a>
                                                        <a href="#" class="button inside" id="btn_cooperateEmployee_grid_remove">
                                                            <span class="text" th:text="${#messages.msg('vendorMgmt.cooperateEmployee.grid.button.label.remove')}" />
                                                        </a>
                                                        <a href="#" class="button inside" id="btn_cooperateEmployee_grid_reset">
                                                            <span class="text" th:text="${#messages.msg('vendorMgmt.cooperateEmployee.grid.button.label.reset')}" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-body with-head">
                                            <div class="rg-root rg-grid" id="cooperateEmployeeGrid" realgrid></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //제휴사 담당자 리얼그리드 -->
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- //data-body -->
            </div>
        </div>
    </form>
    <div class="button-group search-btn">
        <a href="#" class="button white" id="btnCooperateAndOthersCancel"><span class="text">취소</span></a>
        <a href="#" class="button dark" id="btnCooperateAndOthersSave"><span class="text">저장</span></a>
    </div>
</div>
</th:block>
<th:block layout:fragment="add-script">
    <script th:inline="javascript">
    /*<![CDATA[*/

        var _duty_cd_select         = {};

        /*[# th:each="list : ${codeList.VD006}"]*/
            var key = /*[[${list.cd}]]*/;
            _duty_cd_select[key] = /*[[${list.cdNm}]]*/;
        /*[/]*/

        var _dlex_type_select         = {};

        /*[# th:each="list : ${codeList.VD005}"]*/
            var key = /*[[${list.cd}]]*/;
            _dlex_type_select[key] = /*[[${list.cdNm}]]*/;
        /*[/]*/

        var _dlvp_type_select         = {};

        /*[# th:each="list : ${codeList.VD007}"]*/
            var key = /*[[${list.cd}]]*/;
            _dlvp_type_select[key] = /*[[${list.cdNm}]]*/;
        /*[/]*/

        var _parameterMode = [[${requestInfo.mode}]];
        var _cooperateEmployeeList = [[${cooperateEmployeeList}]];

    /*]]>*/
    </script>
    <script type="text/javascript"
            th:src="${@domainConfig.getProperty('jsUrl')} +
            'popup/cooperateEmployeeGrid.provider.js?20210401000001'">
    </script>
    <script type="text/javascript"
            th:src="${@domainConfig.getProperty('jsUrl')} +
            'popup/cooperateEmployeeGrid.eventHandler.js?20210401000001'">
    </script>
    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} +
            'popup/cooperateAndOthersPopup.eventHandler.js'">
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            cooperateEmployeeGrid.eventhandler.initialize();
            cooperateAndOthersPopup.eventhandler.initialize();
        });
    </script>
</th:block>

</body>
</html>