<!--
* 프로그램명 : 전시 카테고리 Tree 조회 팝업
* 작 성 일 : 2021.02.22
* 작 성 자 : 권다솜
* 수 정 자 :
* 버    전 : 1.0
* 개    요 : 전시 카테고리 조회 팝업 UI
* 이    력 :
-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/popup-layout}">
<body>

    <!--Title Area-->
    <th:block layout:fragment="popup-title-area">
        <div class="header" style="margin-bottom : 10px;">
            <div class="title" th:text="${#messages.msg('baseInfoMgmt.label.popup.displayCategoryTreePopup.title')}">Popup Title</div>
        </div>
    </th:block>

    <!--List Area-->
    <th:block layout:fragment="popup-List-area">
        <div class="data-cont" style="height: 80%;">
            <div class="data full-height" style="overflow: hidden;">
                <div class="option-area">
                    <select id="siteNo" name="siteNo">
                        <option th:each="list : ${siteList}"
                                th:value="${list.cd}"
                                th:text="${list.cdNm}"></option>
                    </select>
                </div>
                <div class="data-body full-height">
                    <ul id="tree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </th:block>
    <!--List Area-->

<!--List Button Area-->
<th:block layout:fragment="popup-List-button-area">
    <div class="button-group search-btn" style="margin: 10px auto;">
        <a href="#" class="button" id="btn_popup_bottom_close">
            <span class="text" th:text="${#messages.msg('baseInfoMgmt.label.popup.btn.close')}">닫기</span>
        </a>
    </div>
</th:block>

<th:block layout:fragment="add-script">
    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'popup/popup.DisplayCategoryTreePopup.tree.eventHandler.js'" ></script>

    <script th:inline="javascript">
        var req         = [[${request}]];

        $(document).ready(function() {
            tree.eventhandler.init();
        });
    </script>
</th:block>

</body>
</html>