<!--
* 프로그램명 : 사용자 조회
* 작 성 일 : 2021.02.24
* 작 성 자 : 윤성원
* 수 정 자 : 홍혜리
* 버    전 : 1.0
* 개    요 : 사용자 조회 팝업
* 이    력 : 2021.08.02 단일선택시 적용 방식 변경
-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/popup-layout}">
<body>

<!--Title Area-->
<th:block layout:fragment="popup-title-area">
    <th:block layout:insert="~{fragments/popup/popup-title :: popup-title}"
              th:with="title=${#messages.msg('baseInfoMgmt.label.popup.userList.title')}"></th:block>
</th:block>
<!--Title Area-->

<!--Search Area-->
<th:block layout:fragment="popup-search-area">
    <div class="search">
            <form name="userGridForm" id="userGridForm">
                <table class="search-table">
                    <colgroup>
                        <col style="width:15%;" />
                        <col style="width:35%;" />
                        <col style="width:15%;" />
                        <col style="width:35%;" />
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="label" th:text="${#messages.msg('baseInfoMgmt.label.popup.userList.jobGrpCd')}"></td>
                        <td>
                            <select class="form-control w60" id="jobGrpCd" name="jobGrpCd">
                                <option value="" th:text="${#messages.msg('baseInfoMgmt.label.full')}"></option>
                                <option th:each="list : ${codeList.UR002}" th:value="${list?.cd}" th:utext="${list?.cdNm}"></option>
                            </select>
                        </td>
                        <td class="label" th:text="${#messages.msg('baseInfoMgmt.label.popup.userList.part')}"></td>
                        <td>
                            <div class="input-group">
                                <select class="form-control" id="part" name="part">
                                    <option value="00" th:text="사용자명"></option>
                                    <option value="01" th:text="사용자ID"></option>
                                </select>
                                <input class="input inputtxt" type="text" name="userText" id="userText" maxlength="100"/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
    </div>
</th:block>
<!--Search Area-->

<!--Search Button Area-->
<th:block layout:fragment="popup-search-button-area">
    <th:block layout:insert="~{fragments/popup/popup-btn :: popup-search-btn}"/>
</th:block>
<!--Search Button Area-->

<!--List Area-->
<th:block layout:fragment="popup-List-area">
        <div class="grid">
            <div class="grid-head"  style="overflow: hidden;">
                <div class="title-area">
                    <h2 class="title" th:text="${#messages.msg('baseInfoMgmt.label.popup.userList.list')}"></h2>
                </div>
                <div class="option-area">
                    <div class="page-option" grid-id="userGrid"></div>
                </div>
            </div>
            <div class="grid-body with-head">
                <div id="userGrid" class="rg-root rg-grid" realgrid></div>
            </div>
        </div>
</th:block>
<!--List Area-->

<!--List Button Area-->
<th:block layout:fragment="popup-List-button-area">
    <th:block layout:insert="~{fragments/popup/popup-btn :: popup-List-btn}"/>
</th:block>


<th:block layout:fragment="add-script">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var _gridType               = [[${requestData.argSelectType}]]; // 선택구분값이 있을경우 필수값
        var _argWorkStatCd          = [[${requestData.argWorkStatCd}]]; // 근무상태
        var _argUseYn               = [[${requestData.argUseYn}]];      // 시작여부
        /*]]>*/
    </script>

    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'popup/popup.userList.userGrid.eventHandler.js?20210802'" ></script>
    <script type="text/javascript" th:src="${@domainConfig.getProperty('jsUrl')} + 'popup/popup.userList.userGrid.provider.js?202106090000'" ></script>

    <script type="text/javascript">
        $(document).ready(function() {
            userGrid.eventhandler.init();
        });
    </script>
</th:block>
</body>
</html>